html {
  height: 100%;
}
body {
  margin-left: 0%;
  margin-top: 0%;
  width: 100%;
  min-height: 100%;
  background-image: url(tbg2.png), url(tbg1.png);
  background-size: 35% 35%, 30% 30%;
}
.maintextbanner{
   display: none;
}
.afternotes{
   font-size: 0.7em;
}
.articledate{
   font-style: oblique;
   font-size: 0.9em;
}
#shoplinkdiv{
   margin-top: -0.7em;
}
#shoplink{
   display: inline-block;
}
#shopitem{
   display: inline-block;
   vertical-align: middle;
   margin-left: 70px;
}
div.eventlist{
   margin-top: 1.5em;
}
div.eventlist p{
   border-bottom: dotted rgb(52, 19, 226) 0.5mm;
   margin-bottom: 2.3em;
   position: relative;
}
div.eventlist span.eventlistdate{
   font-weight: bold;
   position: absolute;
   left: 0pt;
}
div.eventlist span.eventlisttitle{
   position: absolute;
   right: 0pt;
}
.postillustration{
   max-width: 100%;
}
.postfloatleftillustration{
   max-width: 100%;
   float: left;
   margin-right: 7px;
}
.stickright{
   float: right;
   margin: 0.7em;
   margin-right: -25%;
}
.rhform{
   width: 80%;
   border: solid 0.5mm #ddd;
   padding: 1.2em;
}
.donateform p{
   text-indent: 0em;
   margin-bottom: 0.7em;
   margin-top: 1.0em !important;
}
.donateform input{
   margin-top: 0.5em;
   margin-left: 25%;
}
.newsletterform p{
   text-indent: 0em;
   margin-bottom: 0.7em;
   margin-top: 0.5em !important;
}
.newsletterform input{
   margin-top: 0.3em;
   margin-left: 4%;
   position: inline-block;
   vertical-align: bottom;
}
#emailAddr{
   margin-top: -2.5em !important;
   position: inline-block;
   vertical-align: bottom;
}
.joinform{
   width: 30%;
   float: left;
   margin-right: 1.7em;
   border: solid 0.5mm #ddd;
   padding: 1.2em;
}
.joinform p{
   text-indent: 0em;
   margin-bottom: 0.7em;
   margin-top: 0em;
}
.joinform select{
   margin-bottom: 0.7em;
}
/* Shows table */
      div.plannav a:link, div.plannav a:visited{
         background: none;
      }
      div.plannav div.timecell:hover{
         background: #006;
      }
      div.plannav a{
         /* display: block; */
      }
      div.plannav {
        border: solid 0.5mm #ddd;
        margin-bottom: 1em;
        line-height: 1.4em;
        display: table;
      }
      div.plannav div{
         padding: 0.2em;
         padding-bottom: 0.4em;
      }
      div.plannav div.tr{
         display: table-row;
      }
      div.plannav div.daycell{
         display: table-cell;
         padding: 1em;
         font-weight: bold;
         font-size: 1.25em;
      }
      div.plannav div.timecell{
         display: table-cell;
      }
/* ******************** */
.ebrite{
 margin-left: 2.2%;
}
.ebrite iframe{
 width: 56%;
 }
.rpost{
   font-size: 1.4em;
   font-family: "Helvetica", sans-serif;
   margin-top: 1.5em;
}
p.postlist{
   font-size: 1.4em;
   text-indent: 0em;
   font-family: "Helvetica", sans-serif;
   margin-top: 1.5em;
}
p.postlist a:link{
   color: #ddd;
}
p.postlist a:visited{
   color: #999;
}
p.postlist a:hover{
   background: #006;
}
.eventdate{
    font-style: oblique;
 }
 .address {
    font-family: monospace;
    font-size: 1.7em; /*to compensate for default small monospace*/
 }
 .face{
    width: 33%;
    float: left;
    margin-right: 0.5em;
 }
.postcontent{
   font-family: "Noticia Text", serif;
   width: 50%;
   margin-top: 0%;
   padding-top: 26%;
   margin-left: 2.2%;
   margin-bottom: 2.5em;
   color: #ddd;
   line-height: 1.8em;
}
.postcontent a:link{
   background: #006;
   color: #ddd;
}
.postcontent a:visited{
   background: #336;
   color: #ddd;
}
.postcontent h2{
   margin-top: 1em;
   margin-bottom: 0.2em;
   color: #ddd;
}
.mainbanner{
   width: 43%;
   position: absolute;
   left: 0pt;
   top: 0pt;
}
.mainbanner img{
   width: 100%;
} 
#dots{
   position: absolute;
   left: 47%;
   top: 2.3%;
   width: 5.5%;
}

#dots img{
   width: 100%;
}
.byline {
   font-family: "Helvetica", sans-serif;
   margin-bottom: 1.5em;
}
.ll{
   font-family: "Baumans", sans-serif;
   color: #c35;
}
.ll a:link, .ll a:visited{
   line-height: 0.4em;
   color: #c35;
}
.ll a:hover{
   background: #006;
}
a.lnl:link{
   line-height: 0.4em;
   color: #ddd;
   background: none;
}
a.lnl:visited{
   color: #999;
   background: none;
}
a.lnl:hover{
   background: #006;
}
#mainlinklist{
   position: absolute;
   left: 60%;
   top: 3%;
}
#mainlinklist p{
   margin-top: 0pt;
   margin-bottom: 0.9em;
   text-indent: 0px;
   font-size: 2.4em;
}
#mainlinklist a:hover{
   background: #006;
}
#shoplinkdiv a:hover{
   background: none;
}
#shoplinkdiv:hover{
   /* background-image: url("http://embrogl.io/apmedia/hovershop.jpg"); */
   background-image: url("hovershop.png");
   background-repeat: no-repeat;
}
#littlelinklist{
   position: absolute;
   left: 60%;
   top: 3%;
}
#littlelinklist p{
   margin-top: 0pt;
   margin-bottom: 1em;
   text-indent: 0px;
   font-size: 1.7em;
}
#littlelinklist p.thisone{
   font-size: 2.4em;
   margin-bottom: 0.7em;
}
#littlelinklist a:hover{
   background: #006;
}
#mainarray {
   position: absolute;
   left: 42%;
   top: 4%;
   width: 15%;
}
#mainarray img{
   width: 100%;
   margin-bottom: 10%;
   margin-right: 15.3%;
}

#frontlatest{
   position: absolute;
   left: 2.2%;
   top: 39%;
   width: 36%;
}
#frontlatest p{
   font-family: "Baumans", sans-serif;
   color: #fff;
   font-size: 1.5em;
   text-indent: 0pt;
   margin-bottom: 0.5em;
   margin-top: 0pt;
}
#frontlatest a:link {
   color: #fff;
}
#frontlatest a:visited{
   color: #999;
}
#frontlatest a:hover {
   background: #006;
}
#pagelatest{
   margin-top: 3em;
}
#pagelatest p{
   font-family: "Baumans", sans-serif;
   color: #fff;
   font-size: 1.5em;
   text-indent: 0pt;
   margin-bottom: 0.5em;
   margin-top: 0pt;
}
#pagelatest a:link{
   color: #fff;
}
#pagelatest a:visited{
   color: #999;
}
#ulate{
   margin-top: 3em;
}
#ulate p{
   font-family: "Baumans", sans-serif;
   color: #fff;
   font-size: 1.0em;
   text-indent: 0pt;
}
.invisible {
    display: none;
}
.smallcaps {
    font-variant: small-caps;
}
.eventgrouptitle{
   color: #a66;
   margin-bottom: 0pt;
}
.relatedevents{
   border-left: dotted #c35 2mm;
   margin-top: 0pt;
   padding-left: 1.2em;
   padding-top: 1em;
}
.relatedevents p{
   margin-top: 0pt;
}

.caption{
   color: #866;
   margin-left: 0em;
   font-size: 80%;
   line-height: 1.2em;
   margin-top: 1px;
   text-indent: 0pt;
}
.hugepicture .caption{
   color: #666;
   margin-left: 5em;
   font-size: 85%;
   line-height: 1.2em;
}
p { 
margin-top: 1.5em; margin-bottom: 1.5em;
}
div.headlinesummary{
display: inline;
}
.headlinetitle{
   font-weight: bold;
}
.sitelinkitem .headlinetitle {
   font-weight: normal;
}
div.authorlist-article + p {
   text-indent: 0em;
}
div.title-article + p {
   text-indent: 0em;
}
p.error {
         color: #ff3333;
         font-weight: bold;
}
.urldiv {
   display: none;
}
span.fnclicked{
   display: inline;
   position:relative;
   cursor: pointer;
   color: #939;
}
span.fn{
   display: inline;
   position:relative;
   cursor: pointer;
   color: #939;
}
span.fnclicked span.fntext{
   display:block;
   text-indent: 0;
   padding: 2mm;
   position:absolute;
   top:1em; left:0em; width:15em;
   background-color:#333; color:#ddd;
   font-size: 90%;
   line-height: 1.3em;
   z-index: 50;
   opacity: 0.9;
}
span.fnclicked span.fntext a{
   color: #7ad;
}
span.fn span.fntext{
   display: none;
}
span.fn:hover span.fntext{
   display:block;
   text-indent: 0;
   padding: 2mm;
   position:absolute;
   top:1em; left:0em; width:15em;
   background-color:#333; color:#ddd;
   font-size: 90%;
   line-height: 1.3em;
   z-index: 50;
   opacity: 0.9;
}
span.fn:hover span.fntext a{
   color: #7ad;
}
span.fn:active span.fntext{
   display: none;
}
span.fnclicked:active span.fntext{
   display: none;
}
span.fn:hover span.fntext span.fntext{
   display: none;
}
span.fnclicked:hover span.fntext span.fntext{
   display: none;
}
span.fnclicked span.fntext span.fntext{
   display: none;
}
.fnote
{
   position: fixed;
   display:none;
   bottom: 0;
   left: 0;
   border: solid #99f 0.0mm;
   width: 100%;
   height: 0;
}
.foot {
   color: #666;
   background: #333;
   font-size: 50%;
      }
.mnote
{
   float: right;
   top: 40%;
   left: 5.3in;
   border: solid #99f 0.0mm;
   width: 1.4in;
   height: 1.8in;
}
.mnotetext
{
   width: 1.1in;
   font-size: 65%;
   padding: .0mm;
   color: #9ff;
}
.releasenotes
{
	margin-top: 0.2em; margin-bottom: 0.2em;
	margin-right: 0in;
	margin-left: 3mm;
	width: 1.8in;
	height: 1.3in;
	font-size: 70%;
	border: solid black thin;
	padding: 0.4em;
	line-height: 1.5ex;
	background: #003;
	color: #9ff;
	float:right;
	overflow: auto;
	z-index: 50;
	position:relative;
}
.releasenotes p
{
    text-indent: 0em;
    margin-top: 1em;
    margin-bottom: 0em;

}
.authorblock{
   position: relative;
   margin-bottom: 2ex;
   color: #746;
}
.authorlist-article {
   display: inline-block;
   font-size: 90%; 
}
.epigraph{
  font-size: 90%; 
  text-align: right;
  position: relative;
  top: -3ex;
  left: 50%;
  line-height: 1.1em;
  width: 40%;
  margin-bottom: 1em;
}
.epigraph .who, .epigraph .who:link, .epigraph .who:visited{
  color: #666;
}
.epigraph .who:before{
   content: " — "
   }
.title-article {
	text-align: center;
	color: #369;
    font-size: 150%;
	margin-top: 0ex;
	margin-bottom: 1.5em;
        clear: both;
    text-shadow: 0px 1px 0px #fff;
    line-height: 1.1em;
}
h1
{
   color: #fff;
   line-height: 1.1em;
   text-align: left;
   font-weight: normal;
   font-size: 130%;
        margin-right: 40%;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0cm;
}
h2{
    line-height: 1.1em;
    color: #fff; font-size: 1.8em; font-weight: normal; text-align: left;
    font-family: "Helvetica", sans-serif;
    text-transform: uppercase;
 }
    
h3 {
    color: #fff;
    font-family: "Helvetica", sans-serif;
    text-align: left;
    line-height: 1.1em;
    font-weight: normal;
    margin-top: 1em;
    margin-bottom: 0.0em;
    font-size: 1.4em;
    }
    


p.warn {
    border: solid #f3f 0.6mm;
    padding: 2mm;
    text-indent: 0em;
    margin: 1.5ex 0em 1.5ex 2em;
}

a:link {
    color: #9cf;
    border-color: transparent;
    border-style: none none dotted none;
    border-width: 0.1em;
    text-decoration: none;
}

a:visited {
    color: #f99;
    border-color: transparent;
    border-width: 0.1em;
    border-style: none none dotted none;
    text-decoration: none;

}
a:active
{
    background: black;

}
sup{
   font-size: 75%;
}
.fnotes, .bib{
   font-size: 85%;
   line-height: 1.1em;
   word-wrap: break-word; /* This is valid, but the W3C validator complains! */
}
.fnotes p, .bib p{
   text-indent: 0em;
   margin-top: 1em;
}
label{
   cursor: pointer;
}
#sharebutton{
   display: none;
}
#sharebutton:checked ~ span{
  display: inline-block;
  }

#share {
  display: none;
  vertical-align: middle;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-left: 1em;
  height: 20px;
}
#share img {
    margin-left: 4px;
    margin-right: 4px;
}
@media screen and (max-width: 700px){
html, body{
  background-image: none;
  background: #000;
  }
.mainbanner{
   display: none;
}
.maintextbanner{
   display: block;
   color: black;
   background: #ddf;
   font-family: "Helvetica", sans-serif;
   font-size: 1em;
   font-weight: bold;
   padding-top: 0.5em;
   padding-bottom: 0.5em;
}
#mainarray, #dots{
   display: none;
}
.postcontent{
   width: 100%;
   margin-top: 1em;
   padding-top: 0pt;
   margin-left: 0px;
   margin-bottom: 1em;
   color: #ddd;
   line-height: 1.8em;
}
#littlelinklist, #mainlinklist, #frontlatest{
   position: relative;
   left: auto;
   top: auto;
   margin-top: 1em;
   width: 100%;
}
#littlelinklist p.thisone{
   font-size: 2.0em;
   font-weight: bold;
   margin-bottom: 0.5em;
}
#mainlinklist p, #littlelinklist p{
   font-size: 1.7em;
   margin-bottom: 0.5em;
}
.ebrite iframe{
 width: 98%;
 }
#pagelatest, #frontlatest{
   width: 100%;
}
#frontlatest p, #pagelatest p{
   font-size: 1em;
}
.stickright{
   float: right;
   margin: 0.7em;
}
#shopitem{
   display: none;
}
#shoplink{
   margin-top: 1em;
}
.date-article{
   margin-bottom: 1em;
}
.epigraph{
  text-align: center;
  position: relative;
  top: auto;
  left: 20%;
  width: 60%;
  color: #a9a;
  }
span.fnclicked{
   display: inline;
   position:relative;
   cursor: pointer;
   color: #939;
}
span.fn{
   display: inline;
   position:relative;
   cursor: pointer;
   color: #939;
}
span.fnclicked span.fntext{
   display:block;
   text-indent: 0;
   padding: 2mm;
   position:fixed;
   top:20%; left:10%; width:75%;
   background-color:#333; color:#ddd;
   font-size: 90%;
   line-height: 1.3em;
   z-index: 50;
   opacity: 0.9;
}
span.fn span.fntext{
   display: none;
}
span.fn:hover span.fntext{
   display: none;
}
span.fn:active span.fntext{
   display: none;
}
span.fnclicked:active span.fntext{
   display: none;
}
span.fn:hover span.fntext span.fntext{
   display: none;
}
span.fnclicked:hover span.fntext span.fntext{
   display: none;
}
span.fnclicked span.fntext span.fntext{
   display: none;
}
}

@media print{
.document {
   background: white;
   width: 90%;
}

}



