@font-face {
  font-family: "Trocci";
  src: url(Trocchi-Regular.ttf) format("truetype");
}
.invisible {
    display: none;
}
.smallcaps {
    font-variant: small-caps;
}
#layoutoption {
  cursor: pointer;
  font-family: Helvetica, sans-serif;
  font-size: 70%;
  color: #999;
  padding-left: 3px;
  padding-right: 3px;
  line-height: 1.1em;
  border: solid 0.5mm;
  border-color: #999;
  position: absolute;
  top: 2mm;
  left: 0.5%;
}
.caption{
   color: #666;
   margin-left: 3em;
   font-size: 85%;
   line-height: 1.2em;
}
.hugepicture .caption{
   color: #666;
   margin-left: 5em;
   font-size: 85%;
   line-height: 1.2em;
}
p { 
text-indent: 1em; margin-top: 1.8em; margin-bottom: 0;
}
p:first-child {
   text-indent: 0em;
}
h2 + p {
   text-indent: 0em;
}
h1 + p {
   text-indent: 0em;
}
h3 + p {
   text-indent: 0em;
}
div.headlinesummary{
display: inline;
}
.headlinetitle{
   font-weight: bold;
}
.sitelinkitem .headlinetitle {
   font-weight: normal;
}
div.authorlist-article + p {
   text-indent: 0em;
}
div.title-article + p {
   text-indent: 0em;
}
code {
   font-family: FreeMono, monospace;
}
code  p {
   margin-left: 3em;
   margin-right: 3em;
}
.codelisting, .numberedcodelisting{
   font-family: FreeMono, "Courier New", Courier, monospace;
   font-size: 85%;
   /* background: #333; */
   /* color: #eee; */
   margin-left: 0em;
   margin-right: 0em;
   margin-top: 2ex;
   margin-bottom: 2ex;
   overflow: auto;
   line-height: 1.4em;
}
.codelisting li{
   list-style-type: none;
   white-space: pre;
   margin-left: -2.4em;
   margin-right: 2em;
}
.numberedcodelisting li{
   white-space: pre;
   margin: 0;
   padding: 0;
}
.eqnum {
    float:right;
    color: #933;
    font-weight: bold;
}
.letterquot{
   color: green;
   margin-left:9%;
   line-height: 1.3em;
}
hr.footnoterule { text-align: left; width: 40%; margin-right: 60%; color: black }
p.frst { text-indent: 0em; margin-top: 0; margin-bottom: 0; margin-left: 0em;}
p.error {
         color: #ff3333;
         font-weight: bold;
}
#zmenu li{
    text-indent: 0em; margin-top: 0; margin-bottom: 0; margin-left: 0em;
    margin-right: 0em;
    padding-right: 1.5mm;
    padding-left: 1.5mm;
    display: inline;
    white-space: nowrap;
    font-weight: bold;
}
#zmenu a:link:hover { color: #9ff; }
#zmenu{
   color: #ccc;
   margin-left: -1em;
   margin-top: -0.4em;
 }
#zmenu ul{
    list-style-type: none;
    color: #99f;
}

#zmenu a:link {
    color: #99f;
}

.urldiv {
   display: none;
}
.smalldivider {
  
   text-align: center;
   font-size: 100%;
}

.googleads{
margin-top:4mm; margin-bottom:4mm; margin-right:4mm;
}
span.fnclicked{
   display: inline;
   position:relative;
   cursor: pointer;
   color: #939;
}
span.fn{
   display: inline;
   position:relative;
   cursor: pointer;
   color: #939;
}
span.fnclicked span.fntext{
   display:block;
   text-indent: 0;
   padding: 2mm;
   position:absolute;
   top:1em; left:0em; width:15em;
   background-color:#333; color:#ddd;
   font-size: 90%;
   line-height: 1.3em;
   z-index: 50;
   opacity: 0.9;
}
span.fnclicked span.fntext a{
   color: #7ad;
}
span.fn span.fntext{
   display: none;
}
span.fn:hover span.fntext{
   display:block;
   text-indent: 0;
   padding: 2mm;
   position:absolute;
   top:1em; left:0em; width:15em;
   background-color:#333; color:#ddd;
   font-size: 90%;
   line-height: 1.3em;
   z-index: 50;
   opacity: 0.9;
}
span.fn:hover span.fntext a{
   color: #7ad;
}
span.fn:active span.fntext{
   display: none;
}
span.fnclicked:active span.fntext{
   display: none;
}
span.fn:hover span.fntext span.fntext{
   display: none;
}
span.fnclicked:hover span.fntext span.fntext{
   display: none;
}
span.fnclicked span.fntext span.fntext{
   display: none;
}
.fnote
{
   position: fixed;
   display:none;
   bottom: 0;
   left: 0;
   border: solid #99f 0.0mm;
   width: 100%;
   height: 0;
}
.foot {
   color: #666;
   background: #333;
   font-size: 50%;
      }
.mnote
{
   float: right;
   top: 40%;
   left: 5.3in;
   border: solid #99f 0.0mm;
   width: 1.4in;
   height: 1.8in;
}
.mnotetext
{
   width: 1.1in;
   font-size: 65%;
   padding: .0mm;
   color: #9ff;
}
.releasenotes
{
	margin-top: 0.2em; margin-bottom: 0.2em;
	margin-right: 0in;
	margin-left: 3mm;
	width: 1.8in;
	height: 1.3in;
	font-size: 70%;
	border: solid black thin;
	padding: 0.4em;
	line-height: 1.5ex;
	background: #003;
	color: #9ff;
	float:right;
	overflow: auto;
	z-index: 50;
	position:relative;
}
.releasenotes p
{
    text-indent: 0em;
    margin-top: 1em;
    margin-bottom: 0em;

}
.recenton
{
   
   font-size:80%;
   float:right;
   width: 33%;
   padding:2mm;
   margin:2mm;
   border: solid 0.5mm;
   border-color: #ccf;
}
.recenton p
{
   margin-top: 0.5em;
}

.diagnote
{
	margin-left: 0cm;
	margin-right: 0cm;
	margin-top: 0ex;
	margin-bottom: 0em;
	padding: 0.6cm  0.6cm 0.6cm 0.6cm;
/* 	border: solid navy thin; */
	background: #666;
            background-image: none;

}

p.formannotation
{
    font-size: 60%; text-indent: 0em;
    color: black;
    background: white;
}
.bigitem
{
    clear: both;
	border-color: #ccf;
	border-width: .4mm;
	border-style: dashed;
	margin-top: 0.5cm;
	margin-bottom: 0.5cm;
	padding: 0.7em;
}

html, body {
  font-family: "Dosis", sans-serif;
  font-size: 16px;
  margin: 0;
  width: 100%;
  height: 100%;
  background: #ddd;
  border: 0mm;
}
.main
{
	padding: 0.6cm  1.2cm 0.6cm 0.6cm;
        color: white;
/*	width: 5in;  */
	background: #333;
        margin-bottom: 0.6in;
}
.document blockquote{
    color: #333;
    font-size: 100%;
}
.main blockquote{
    color: #ccc;
    font-size: 90%;
}

.dtitle
{
    font-size: 200%;
    padding-right: 3mm;
}
.dtitle a:link  {
    color: #336;
}
.dtitle a:visited {
    color: #336;
}
    
div.fillinks{
    line-height: 2.0;
    padding: 0em;
}
div.fillinks p{
    text-indent: 0em; margin-top: 0; margin-bottom: 0; margin-left: 0em;
    margin-right: 0em;
    padding-right: 3mm;
    padding-left: 1.5mm;
    display: inline;
    /*border-top: solid #333 0mm;
    border-bottom: solid #333 0mm;
    border-left: solid #333 0mm;
    border-right: solid #9ff 1mm;*/
    white-space: nowrap;
}
.biglinksleft
{
    font-size: 120%;
    width: 100%;    
}
.frontindex ul
{
   margin: 0em;
   padding: 0em;
   /* text-indent: 2.2em; */
}
.frontindex li
{
   list-style-type: none;
   display: inline;
   margin-right: 1.0em;
   padding: 0em;
   color: #336;
}
.frontindex a:visited {
   color: #336;
}
.frontindex a:link {
   color: #336;
}
.biglinksleft p
{
    text-indent: 0em;
    margin-top: 1em;
    margin-bottom: 0em;
}
.attribution
{
    color: #333;
    font-style: oblique;
}
.attribution a:visited {
    color: #333;}
.attribution a:link {
    color: #333;}
.diagram{
    cursor: help;
}
.snip
{
    background: white;
    color: black;
    margin-left: 1.0cm;
	margin-bottom: 0em;
	padding: 0.6cm;
	margin-top: 5%;
	margin-right: 0cm;
}
.sitelinkitem
{
text-indent: 0em; margin-top: 1em; margin-bottom: 1em;
line-height: 1.2em;
}
.sitenewsitem
{
text-indent: 0em; margin-top: 1em; margin-bottom: 1em;
line-height: 1.2em;
}
.newsdate {color: #369; font-weight: normal;}

.photos
{
	margin-left: 4%;
	margin-right: 4%;
    background: white;
    color: black;
    background-image: none;
}

.photos h1
{ background: #ccc;
  color: black;
  border: solid black thin;
}


.photos h3
{ background: #ccc;
  color: black;
  border: solid black thin;
}


.photoframe
{
    background: #CCC;
    padding: 0.5cm;
    height: auto;
 }
 
.photocell
 { background: #CCC; }
 
 .photocell p
 { text-indent: 0em; margin-top: 0; margin-bottom: 0.2em;}
 
.photocell a:visited
{
    color: black;
}
  
.photocell a:link
{
    color: black;
}
  
 
.photoframe img {
    border: solid black 2mm;
}
.phototable td {
    padding-bottom: 0.3cm;
    padding-right: 0.0cm;
    padding-left: 0.0cm;
}
.photoframe p {text-indent: 0em;}
.captionright
{
    background: #CCC;
    padding: .1cm;
    color: black;
}
.photoleft {
    float: left;
    margin-bottom: 3em;
}
.photocaption
{
    background: #CCC;
    margin-top: 2mm;
    margin-bottom: 12mm;
    color: black;
}

.thumb
{
	
	table-layout: fixed;
	background: #999;
	padding: 0mm;
	white-space: nowrap;
    width: 7in;
    height: 2.1in;
    overflow: auto;
	font-size: 75%;
}

.thumb td
{
    padding:2mm;
    text-align: center;
}



.thumb a:visited
{
    color: white;
}
  
.thumb a:link
{
    color: white;
}


.thumb p {text-indent: 0em;}

.maint {
	margin-left: 1.7cm;
	margin-right: 0.5cm;
}
.searchresults
{
  color: black;
  background: #aaaaaa;
  width: 9in;
  margin: 0cm;
  padding: 1.8cm;
  font-family: Times, serif;
  line-height: 1.5em;
}
#page{
  position: relative;
  height: 100%;
  min-height: 100%;
  border: 0mm;
  margin: 0;
  padding: 0;
  /* max-width: 10in;*/
}
.fat{
  font-family: Times, serif;
  line-height: 1.5em;
  width: 90%;
  margin-bottom: 1.5ex;
  background: #ddd;
  padding: 3%;
  margin-top: 1.5ex;
}
.document
{
  font-family: "Noticia Text", serif;
  line-height: 1.8em;
  /* margin-bottom: 1.5ex; */
  margin: 0;
  background: #ddd;
  padding-left: 5%;
  padding-bottom: 3em;
  padding-top: 1em;
  width: 55%;
  /* min-height: 89%; */
}
.stickleft{
    margin-left: -9%;
}
#rs{
  position: fixed;
  left: 65%;
  top: 0px;
  bottom: 0;
  width: 35%;
  font-family: Helvetica, sans-serif;
  color: #333;
  text-indent: 0em;

}
#rs div{
  overflow: hidden;
  /* border: solid red 0.5mm; */
}
#ts {
  text-align: center;
  /* padding-left: 5%; */
  /* padding-right: 5%; */
  padding-top: 2mm;
  padding-bottom: 2mm;
  margin-left: 18%;
  margin-bottom: 2em;
  width: 30%;
}
.bs {
   color: #666;
   font-size: 85%; 
   line-height: 1.1em;
   font-family: "Dosis", sans-serif;
   /* padding-top: 3mm; */
   padding-bottom: 3mm;
   padding-left: 2%;
   padding-right: 2%;
   height: auto;
   margin: 0;
}
#rs a:link{
color: black;
}
#rs a:visited{
color: black;
}
.googletopspacer{
   position:relative;
   top: 11%;
   z-index: 100;
   font-size: 12px;
}
.thypen {
   color: #868692;
}
#qod a:link {
    font-family: verdana, sans-serif;
    color: #aa97c9; 
    text-decoration: none;
}
#qod a:visited {
    font-family: verdana, sans-serif;
    color: #aa97c9; 
    text-decoration: none;
}
#qod {
  /* padding-left: 10px; */
  padding-right: 10px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;

}
#qodcontainter {
  width: 100%;
  /* background: #D1B9FF; */
  color: #aa97c9;
  font-family: "Trocci", serif;
  height: 32%;
  display: table;
}
#qod .qodauthor{
    font-family: verdana, sans-serif;
    color: #aa97c9; 
    font-style: oblique;
    line-height: 1.0em;
    margin-top: 0.2em;
    display: inline-block;
}

.googlesquare{
    
  height: 29%;
  padding: 0;
  text-align: center;
}
#subscribe{
  /* background: #b5a1dd; */
  height: 7.0%;
  text-align: center;
  font-family: "Dosis", sans-serif;
}
#commenttab{
   color: #746;
   font-family: "Dosis", sans-serif;
   margin-top: 20px;
   margin-bottom: 20px;
   text-align: center;
}
#commenttab a:link, #commenttab a:visited{
   color: #746;
}
.commenthand {
    color: #666;
}
#popsearch{
   cursor: pointer;
}
#cse{
  background: #666;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 22px;
  padding-left: 22px;
  opacity: 0.95;
  color: #9cc;
  position: absolute;
  left: 10%;
  top: 4.6em;
  width: 40%;
  visibility: hidden;
  border: none;
}
#cse .gsc-search-button{
  text-shadow: 0px 0px;
  border: none;
  margin: 0mm;
  margin-top: 0.0em;
  color: #666;
  font-family: verdana, arial, sans-serif;
  font-size: 108%;
  background: #aac;
}
#cse .gsc-input{
  background: #666;
  border:none;
  margin: 0ex;
  margin-top: 0.0em;
  padding: 0;
}
#cse .gs-snippet{
  color: #9dd;
}
#cse .gs-title{
  color: #6cf;
}
#cse .gs-visibleUrl-long{
  color: #ccf;
}
#cse .gs-title a:visited {
  color: #6cf;
}
#cse .gs-title a:link {
  color: #6cf;
}
#cse .gs-title a:link b{
  color: #6cf;
}
#cse .gs-title a:visited b{
  color: #6cf;
}
#cse .gsc-results {
  background: #666;
}
#cse .gsc-result {
  background: #666;
}
#cse .gsc-control-cse {
  border: none;
  background: #666;
  margin: 0ex;
  padding: 0;
}
#cse .gsc-adBlock iframe{
    visibility: hidden;
}
#cse .gsc-adBlock {
   background: #666;
}
#cse #adBlock {
   background: #666;
}
.searchdocument
{
  color: black;
  background: #aaaaaa;
  margin: 0cm;
  padding: .5in;
  font-family: Times, serif;
  line-height: 1.5em;
}
.document.blockquote{  
    color: #333;
    font-size: 90%;
}
.authorblock{
   position: relative;
   margin-bottom: 2ex;
   color: #746;
}
.authorlist-article {
   display: inline-block;
   font-size: 90%; 
}
.date-article { 
   display: inline-block;
   font-size:90%;
}
.date-article:before { 
   content: " — "
}
.epigraph{
  font-size: 90%; 
  text-align: right;
  position: relative;
  top: -3ex;
  left: 50%;
  line-height: 1.1em;
  width: 40%;
  margin-bottom: 1em;
}
.epigraph .who, .epigraph .who:link, .epigraph .who:visited{
  color: #666;
}
.epigraph .who:before{
   content: " — "
   }
.title-article {
	text-align: center;
	color: #369;
    font-size: 150%;
	margin-top: 0ex;
	margin-bottom: 1.5em;
        clear: both;
    text-shadow: 0px 1px 0px #fff;
    line-height: 1.1em;
}
h1
{
   color: #746;
    text-shadow: 0px 1px 0px #fff;
    line-height: 1.1em;
	text-align: left;
	font-weight: normal;
    font-size: 130%;
        margin-right: 40%;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0cm;
	border-width: 0.5mm;
	border-style: none none solid none;
}
h2{
    text-shadow: 0px 1px 0px #fff;
    line-height: 1.1em;
    color: #746; font-size: 120%; font-weight: normal; text-align: center;}

.front h2 { margin-right: 50%; }
    
h3 {
    color: #746;
    text-align: center;
    text-shadow: 0px 1px 0px #fff;
    line-height: 1.1em;
    font-weight: normal;
    margin-left: 1.0cm;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 100%;
    font-style: oblique;
    }
    
h4 {
    text-align: left;
    color: navy;
    padding: 1mm;
    margin-right: 30%;
    margin-left: 0pt;
    font-size: 100%;
	border-color: #69f;
	border-width: 1mm;
	border-style: solid solid solid solid;
    }

p.warn {
    border: solid #f3f 0.6mm;
    padding: 2mm;
    text-indent: 0em;
    margin: 1.5ex 0em 1.5ex 2em;
}

p.intro{
    text-indent: 0em;
    font-size: 125%;
    margin-right: 5em;
    margin-bottom: 4ex;
    padding: 2mm;
    border:solid black 0.5mm;
}

.arch
{
 	background-color: navy;
	font-size: 75%;
}

.gone
{
	/*background-color: #999;*/
        text-decoration: line-through;
	
}

.document.pull
{
	color: #333;
	font-size: 90%; 
	font-style: oblique;
}
.pull
{
	color: #ccc;
	font-size: 90%; 
	font-style: oblique;
}


.noi p {
	text-indent: 0em;
	margin-top: 0.4em;
}


.list p {
    text-indent: 0em;
    margin-top: 1em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
}

p.list {
    text-indent: 0em;
    margin-top: 1em;
    margin-bottom: 0em;
}

.openlist p {

    text-indent: 0em;
    margin-top: 1em;
    margin-bottom: 1em;

}

.linknote {
     font-size: 75%;
     background: #339;
}



a:link {
    color: #9cf;
    border-color: transparent;
    border-style: none none dotted none;
    border-width: 0.1em;
    text-decoration: none;
}

a:visited {
    color: #f99;
    border-color: transparent;
    border-width: 0.1em;
    border-style: none none dotted none;
    text-decoration: none;

}
a:active
{
    background: black;

}

.document a:link, #cse a:link, .fat a:link {
    text-decoration: none;
    color: #369;
}

.document a:visited, #cse a:visited, .fat a:visited {
    text-decoration: none;
    color: #599;
}


.document a:active
{
    background: black;

}
a:link img{
border-style: none none none none;
}
a:hover img{
border-style: none none none none;
}
a:visited img{
border-style: none none none none;
}
a.gone
{
        text-decoration: line-through;	
}
a:hover.gone
{
        text-decoration: line-through;
        color: #99f;
}


a.bigurl:link {
       border-color: #99f;
    border-style: none none dotted none;
    border-width: 0.1em;
    text-decoration: none;
}
a.bigurl:visited {
   
    border-color: #f99;
    border-style: none none dotted none;
    border-width: 0.1em;
    text-decoration: none;
}

a.bigurl:active
{
    background: black;
}
.document sup{
   font-size: 75%;
}
.decoration {
   width: 14%;
   margin: 3mm;
}
.bpicture {
   width: 45%;
   margin: 4mm;
}
.picture {
   width: 33%;
   margin: 4mm;
}
.hugepicture {
   width: 96%;
   margin-top: 1em;
   margin-bottom: 1em;
}
.bigpicture {
   width: 66%;
   margin: 4mm;
}
#zon{
  /* background: #D1B9FF; */
  font-family: "Dosis", sans-serif;
  text-align: center;
  height: 30%;
  /* position: relative; */
  width: 100%;
  display: table;
}
.zonframe {
  display: table-cell;
  vertical-align: middle;
}
.zonpicture {
  margin-left: 5%;
  margin-top: 5%;
  width: 29%;
}
.biburlinline {
   display: none;
}
/* #zon, #subscribe, #qod, #commenttab, .googlesquare { */
/* border-left: solid 1.5mm #D3ABD6; */
/* } */
#plaintext{
display:none;
}
.fnotes, .bib{
   font-size: 85%;
   line-height: 1.1em;
   word-wrap: break-word; /* This is valid, but the W3C validator complains! */
}
.fnotes p, .bib p{
   text-indent: 0em;
   margin-top: 1em;
}
label{
   cursor: pointer;
}
#sharebutton{
   display: none;
}
#sharebutton:checked ~ span{
  display: inline-block;
  }

#share {
  display: none;
  vertical-align: middle;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-left: 1em;
  height: 20px;
}
#share img {
    margin-left: 4px;
    margin-right: 4px;
}
#comments {
    display: none;
}
#comments:target {

  display: block;
  background: #666;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 11px;
  padding-bottom: 11px;
  color: #9cc;
}
#comments a:link {
    color: #ddf;
}
#comments p {
    margin-top: 2em;
    text-align: left;
}
#rs div#comments
{
    padding: 3mm;
    margin-top: 3mm;
    text-align: left;
}
#comments h2 {
    color: #9cc; 
    text-shadow: 0px 0px;
}
#comments div, #comments p {
  text-indent: 0pt;
  text-align: left;
}
#comments p {
    margin: 4mm;
    margin-top: 0.5em;
}

#comments .incoming {
    text-align: left;
    border-color: #9cc;
    border-width: 0.5mm;
    border-style: solid solid solid solid;  
    padding: 4mm;
    margin-left: 4mm;
    margin-bottom: 4mm;
    margin-right: 0.5cm;
    color: white;
}

#comments .incoming a{
    color: #aae;
}

#comments .headers{
    text-align: left;
    color: #eaa;
    font-style: oblique;
    margin-bottom: 3mm;
    border: none;
}

#comments .headers p {
    text-align: left;
    text-indent: 0em;
    margin-top: 0;
    margin-bottom: 0;
}

#comments .reply {
    text-align: left;
    border-color: #9cc;
    border-width: 0.5mm;
    border-style: solid;  
    padding: 4mm;
    margin-left: 1.0cm;
    margin-right: 0.5cm;
    margin-bottom: 4mm;
    color: #faf;
}
div#comments div.closer {
    float: right;
    margin-right: 4%;
    color: #9cc;
    border: solid #9cc 0.5mm;
    padding-top: 1mm;
    padding-bottom: 1mm;
    padding-right: 2mm;
    padding-left: 2mm;
}
div#comments div.closer a:link {
    color: #9cc;
}
div#comments div.closer a:visited {
    color: #9cc;
}

    
@media screen and (max-width: 700px){
html, body{
  background-image: none;
  }
.bs{
    width: 99%;
}
#commenttab{
    width: 100%;
}
.date-article{
   margin-bottom: 1em;
}
.epigraph{
  text-align: center;
  position: relative;
  top: auto;
  left: 20%;
  width: 60%;
  color: #a9a;
  }
#ts {
  background: #a9a9b7;
  width: 96%;
  padding-left: 2%;
  padding-right: 2%;
  height: auto;
  margin: 0;
}
.frontindex ul
{
   margin: 0em;
   padding: 0em;
   text-indent: 0.2em;
}
.frontindex li
{
   margin-right: 1.0em;
   padding: 0em;
}
#cse {
  width: 80%;
  left: 4%;
}
#page{
 width:100%;
}
 /* #rs div{ */
 /*     height: auto; */
 /*  margin: 0ex; */
 /*  border: none; */
 /* } */

#rs{
   width: 100%;
  margin: 0ex;
  text-indent: 0em;
  position: relative;
    left: 0;
}

#subscribe{
   height: auto;
   margin-top: 1.3ex;
}
.zon{
    height: auto;
}
.zonpicture {
    width: 30%;
    height: auto;
    margin: 3mm;
}
.zonframe {
    position: relative;
    top: 2mm;
}
.document{
   background: #ddd;
  line-height: 1.5em;
   width: 96%;
   height: auto;
   padding: 2%;
   padding-bottom: 2%;
   margin: 0em;
  border: none;
}
.bigpicture {
   width: 95%;
   margin: 4mm;
   display: block;
}
span.fnclicked{
   display: inline;
   position:relative;
   cursor: pointer;
   color: #939;
}
span.fn{
   display: inline;
   position:relative;
   cursor: pointer;
   color: #939;
}
span.fnclicked span.fntext{
   display:block;
   text-indent: 0;
   padding: 2mm;
   position:fixed;
   top:20%; left:10%; width:75%;
   background-color:#333; color:#ddd;
   font-size: 90%;
   line-height: 1.3em;
   z-index: 50;
   opacity: 0.9;
}
span.fn span.fntext{
   display: none;
}
span.fn:hover span.fntext{
   display: none;
}
span.fn:active span.fntext{
   display: none;
}
span.fnclicked:active span.fntext{
   display: none;
}
span.fn:hover span.fntext span.fntext{
   display: none;
}
span.fnclicked:hover span.fntext span.fntext{
   display: none;
}
span.fnclicked span.fntext span.fntext{
   display: none;
}
#qod {
  padding: 2%;
}
#qodcontainter {
  width: 100%;
  background: #D1B9FF;
  background: #D1B9FF;
  color: #675b7d;
  font-family: "Trocci", serif;
  height: auto;
}
}

@media print{
.document {
   background: white;
   width: 90%;
}
.biburlinline {
   display: inline;
}
#rs, .bs, .frontindex {
    display: none;
}
#ts {
width: 100%;
}

.urldiv{
   font-size: 75%;
   /* color: #666; */
   width: auto;
   text-align: center;
   margin-top: 1.6em;
   line-height: 1.1em;
   clear:both;
   display: block;
   font-family: "Dosis", sans-serif;
   }

#commenttab{
    display:none;
}
#layoutoption {
   display: none;
}

}



