@font-face {
  font-family: "Telegrama";
  src: url(telegrama_render.otf) format("opentype");
}
html {
  height: 100%;
  font-size: 100%;
}
body {
  font-size: 100%;
  margin-left: 0%;
  margin-top: 0%;
  width: 100%;
  background: black;/*fallback*/
  background-image: url(tbg2.png), url(tbg1.png);
  background-size: 35% 35%, 30% 30%;
}
#csfa {
position:absolute; top: 2rem; left: 45%; height: 20.3rem; width: 40rem; color: white; 
}
#mbg {
 color: rgb(0,0,0); font-size: 1.7rem; font-weight: bold; position:absolute; top: 25rem; left: 1rem; width: 96%; background-image: url(morsebg.jpg); background-repeat: no-repeat; background-size: 100%; height: 45rem;
}
#mlt {
position:absolute; left: 1rem; top: 200rem; font-size: 1.4rem; width:40rem; 
}
#mml {
position:absolute; left: 50rem; top: 200rem; font-size: 2rem; 
}
.mpic {
position:absolute; left: 50rem; width: 40%; 
}
p { 
margin-top: 1.0em; margin-bottom: 1.0em;
}
#social a{
 color: #999;
 font-size: 0.45em;
}
#social img{
  width: 0.8em;
}
.floatbuster{
   clear:both;
}
.listimage{
   width: 15%;
   float: left;
   clear: left;
   margin-right: 1.0em;
   margin-top: 1em;
   margin-bottom: 0em;
}
.listimage img{
   width: 100%;
}
.articlelist p{
   display: inline-block;
   font-size: 1.2em;
   margin-top: 0.5em;
   margin-bottom: 0em;
   /* width: 70%; */
}
span.byline{
   font-size: 0.6em;
   font-style: oblique;
}
#maincontainer{
   height: 100%;
}
img {
     border-width: 0;
}
.push{
   clear: both;
}
#planetfooter{
   clear: both;
   position: relative;
   height: 4%;
   margin-top: 12%;
   font-size: 0.75em;
   background: rgba(45, 40, 70, 0.65);
   padding: 0.7em;
   padding-left: 2.3%;
   border-top: solid rgba(40, 40, 150, 0.53) 1mm;
} 
#planetfooter .footerlinks a{
   display: inline-block;
   margin-right: 2em;
}
#planetfooter .footerlinks a:visited{
   color: #6060C5;
}
#planetfooter .footerlinks a:link{
   color: #6060C5;
}
#planetfooter .footerlinks a:hover{
   background: rgba(20, 20, 20, 0.65);
}
.maintextbanner{
   display: none;
}
.afternotes{
   font-size: 0.7em;
   line-height: 1.3em;
}
.articledate{
   font-style: oblique;
   font-size: 0.9em;
}
#shoplinkdiv{
   margin-top: -0.7em;
   display: inline-block;
   width: 100%;
}
#shoplink{
   display: inline-block;
}
#shopitem{
   display: inline-block;
   vertical-align: middle;
   margin-left: 70px;
}
div.eventlist{
   margin-top: 1.5em;
}
div.eventlist p{
   border-bottom: dotted rgb(52, 19, 226) 0.5mm;
   margin-bottom: 2.3em;
   position: relative;
}
div.eventlist span.eventlistdate{
   font-weight: bold;
   position: absolute;
   left: 0pt;
}
div.eventlist span.eventlisttitle{
   position: absolute;
   width: 100%;
   text-align: right;
   right: 0pt;
}
div.eventlist span.eventlisttitle span.subtitle{
   position: absolute;
   right: 0pt;
   top: 1.4em;
   font-size: 0.6em;

}
.postillustration{
   max-width: 100%;
}
.postillustration img, .postfloatleftillustration img, .postfloatrightillustration img{
   width: 100%;
}
.postfloatleftillustration{
   width: 300px;
   float: left;
   margin-right: 14px;
}
.postfloatrightillustration{
   width: 300px;
   float: right;
   margin-left: 14px;
}
.smalldivider {
   text-align: center;
   font-size: 100%;
   margin-bottom: 1em;
}
.smalldivider img {
  width: 100px;
}
.centerbanner {
  width: 80%;
  text-align: center;
}
.centerbanner img {
  width: 100%;
}
.centerpic{
  width: 100%;
}
.rightpic{
   float: right;
   margin-right: 14px;
   width: 50%;
 }
.leftpic{
   float: left;
   margin-right: 14px;
   width: 50%;
 }
.tinyleftpic{
   float: left;
   margin-right: 14px;
   width: 20%;
 }
 .tinyleftpic img{
   width: 100%;
 }
 .leftpic img{
   width: 100%;
 }
 .rightpic img{
   width: 100%;
 }
 .centerpic img{
   width: 100%;
 }
.stickright{
   float: right;
   margin: 0.7em;
   margin-right: -25%;
}
.rhform{
   width: 80%;
   border: solid 0.5mm #ddd;
   padding: 1.2em;
}
.rhform img {
  margin-left: 25%;
}
.upcoming {
   border: solid 0.5mm #ddd;
   padding: 1.2em;
   font-size: 80%;
   background: rgba(250, 100, 100, 0.3);
   text-align: center;
}
.normal_font_size {
  font-size: 22px !important;
}
.donateform p{
   text-indent: 0em;
   margin-bottom: 0.7em;
   margin-top: 1.0em !important;
}
.donateform input{
   margin-top: 0.5em;
   margin-left: 25%;
}
.newsletterform p{
   text-indent: 0em;
   margin-bottom: 0.7em;
   margin-top: 0.5em !important;
}
.newsletterform input{
   margin-top: 0.3em;
   margin-left: 4%;
   display: inline-block;
   vertical-align: bottom;
}
.newsletterform a:hover{
   background: none !important;
}
.tinynote {
  font-size: 50% !important;
  margin-left: 0pt;
  margin-bottom: 0pt !important;
  }
.joinform{
   width: 30%;
   float: left;
   margin-right: 1.7em;
   border: solid 0.5mm #ddd;
   padding: 1.2em;
}
.joinform p{
   text-indent: 0em;
   margin-bottom: 0.7em;
   margin-top: 0em;
}
.joinform select{
   margin-bottom: 0.7em;
}
/* Shows table */
      div.plannav a:link, div.plannav a:visited{
         background: none;
      }
      div.plannav div.timecell:hover{
         background: #006;
      }
      div.plannav a{
         /* display: block; */
      }
      div.plannav {
        font-size: 1.0rem;
        line-height: 1.1em;
        border: solid 0.5mm #ddd;
        margin-bottom: 1em;
        display: table;
      }
      div.plannav div{
         padding: 0.2em;
         padding-bottom: 0.4em;
      }
      div.plannav div.tr{
         display: table-row;
      }
      div.plannav div.daycell{
         display: table-cell;
         padding: 1em;
         font-weight: bold;
         font-size: 1.25em;
      }
      div.plannav div.timecell{
         display: table-cell;
      }
/* ******************** */
.ebrite{
 margin-left: 2.2%;
}
.ebrite iframe{
 width: 56%;
 }
.rpost{
   font-size: 1.4em;
   font-family: "Helvetica", sans-serif;
   margin-top: 1.5em;
}
p.postlist{
   text-indent: 0em;
   margin-top: 1.5em;
   line-height: 1.1em;
}
p.postlist a:link{
   color: #ddd;
}
p.postlist a:visited{
   color: #999;
}
p.postlist a:hover{
   background: #006;
}
.eventdate{
    font-style: oblique;
 }
 .address {
    font-family: monospace;
    font-size: 1.2em; /*to compensate for default small monospace*/
 }
 .face{
    width: 33%;
    float: left;
    margin-right: 0.5em;
 }
.postcontent{
   float: left;
   font-family: Alegreya, serif;
   line-height: 1.5em;
   font-size: 1.4em;
   width: 50%;
   margin-top: 0%;
   padding-top: 22%;
   margin-left: 2.2%;
   margin-bottom: 2.5em;
   color: #ddd;
   min-height: 800px;
   position:absolute; top: 55rem; left: 1rem;
}
.morecontent{
   float: left;
   font-family: Alegreya, serif;
   line-height: 1.2em;
   font-size: 1.1em;
   width: 50%;
   margin-top: 0em;
   margin-left: 2.2%;
   margin-bottom: 2.5em;
   color: #ddd;
}
abbr {
  cursor: pointer;
  text-transform: lowercase;
  font-family: "Alegreya SC", serif;
}
.smallcaps {
  text-transform: lowercase;
  font-family: "Alegreya SC", serif;
}
.postcontent blockquote{
   line-height: 1.3em;
}
.postcontent a:link{
   background: #006;
   color: #ddd;
}
.postcontent a:visited{
   background: #336;
   color: #ddd;
}
.articlelist a:visited{
   background: none;
}
.articlelist a:link{
   background: none;
}
/* .articlelist a:hover{ */
/*    background: #006; */
/* } */
.mainbanner{
   width: 43%;
   position: absolute;
   left: 0pt;
   top: 0pt;
}
.mainbanner img{
   width: 100%;
} 
#dots{
   position: absolute;
   left: 47%;
   top: 2.3%;
   width: 5.5%;
}

#dots img{
   width: 100%;
}
.byline {
   font-family: "Helvetica", sans-serif;
   font-size: 0.85em;
   margin-bottom: 1.5em;
}
.ll{
   font-family: "Baumans", sans-serif;
   color: #c35;
}
.ll a:link, .ll a:visited{
   line-height: 0.4em;
   color: #c35;
}
.ll a:hover{
   background: #006;
}
.annce {
  background: #333;
  padding: 0.5rem;
  font-size: 1.4rem;
}
.annce h1{
  border: none;
  font-size: 2rem;
  line-height: 1em;
  margin-top: 0;
  margin-bottom: 2em;
}
.annce a:link, .annce a:visited {
  color: rgb(0,0,175);
}
.anncep {
  background: rgba(100,100,100,0.7); width: 70%; margin-left: 15%; margin-top: 5rem;
}
a.lnl:link{
   line-height: 0.4em;
   color: #ddd;
   background: none;
}
a.lnl:visited{
   color: #999;
   background: none;
}
a.lnl:hover{
   background: #006;
}
#mainlinklist{
   float: right;
   width: 40%;
   margin-top: 1.5%;
   margin-right: 0.2em;
}
#mainlinklist p{
   margin-top: 0pt;
   margin-bottom: 1.1em;
   text-indent: 0px;
   font-size: 2.4em;
}
#mainlinklist a:hover{
   background: #006;
}
#shoplinkdiv a:hover{
   background: none;
}
#shoplinkdiv:hover{
   background-image: url("hovershop.png");
   background-repeat: no-repeat;
}
.sitenewsitem a:visited{
   color: #F38C90;
}
.sitenewsitem a:link{
   color: #F38C90;
}
#littlelinklist{
   position: absolute;
   left: 60%;
   top: 3%;
}
#littlelinklist p{
   margin-top: 0pt;
   margin-bottom: 1em;
   text-indent: 0px;
   font-size: 1.7em;
}
#mainlinklist a.thisone:link{
   color: #F5EB08;
}
#mainlinklist a.thisone:visited{
   color: #F5EB08;
}
#littlelinklist a:hover{
   background: #006;
}
#mainarray {
   /* position: absolute; */
   /* left: 42%; */
   /* top: 4%; */
   /* float: left; */
   width: 15%;
   margin-left: 42%;
}
#mainarray img{
   float: left;
   width: 100%;
   margin-bottom: 10%;
   margin-right: 15.3%;
}

#frontlatest{
   /* position: relative; */
   float: left;
   margin-left: 2.2%;
   margin-top: 22%;
   width: 36%;
}
#frontlatest {
   font-family: "Baumans", sans-serif;
   color: #fff;
}
#frontlatest p{
   font-size: 1.5em;
   text-indent: 0pt;
   margin-bottom: 0.5em;
   margin-top: 0pt;
}
#frontlatest a:link {
   color: #fff;
}
#frontlatest a:visited{
   color: #999;
}
#frontlatest a:hover {
   background: #006;
}
#pagelatest{
   margin-top: 3em;
}
#pagelatest p{
   font-family: "Baumans", sans-serif;
   color: #fff;
   font-size: 1.5em;
   text-indent: 0pt;
   margin-bottom: 0.5em;
   margin-top: 0pt;
}
#pagelatest a:link{
   color: #fff;
}
#pagelatest a:visited{
   color: #999;
}
#ulate{
   margin-top: 3em;
}
#ulate p{
   font-family: "Baumans", sans-serif;
   color: #fff;
   font-size: 1.0em;
   text-indent: 0pt;
}
.invisible {
    display: none;
}
.eventgrouptitle{
   color: #a66;
   margin-bottom: 0pt;
}
.relatedevents{
   border-left: dotted #c35 2mm;
   margin-top: 0pt;
   padding-left: 1.2em;
   padding-top: 1em;
}
.relatedevents p{
   margin-top: 0pt;
}

.caption, figcaption{
   color: #5F88B4;
   margin-left: 0em;
   font-size: 70%;
   line-height: 1.2em;
   margin-top: 1px;
   text-indent: 0pt;
}
.picturecredit, figcaption .credit{
   margin-left: 0.7em;
   font-style: oblique;
}
.caption a:link, .picturecredit a:link, .caption a:visited, .picturecredit a:visited {
  background: none;
  color: #B23AE4;
}
.hugepicture .caption{
   color: #666;
   margin-left: 1em;
   font-size: 85%;
   line-height: 1.2em;
}
div.headlinesummary{
display: inline;
}
.headlinetitle{
   font-weight: bold;
}
.sitelinkitem .headlinetitle {
   font-weight: normal;
}
div.authorlist-article + p {
   text-indent: 0em;
}
.sitenewsitem {
text-indent: 0em; margin-top: 1em; margin-bottom: 1em;
line-height: 1.2em;
font-family: "Noticia Text", serif;
font-size: 0.85em;
color: white; 
}
.newsdate {color: #DF88F5; font-weight: normal;}
.headlinesummary{
}

div.title-article + p {
   text-indent: 0em;
}
p.error {
         color: #ff3333;
         font-weight: bold;
}
.urldiv {
   display: none;
}
span.fnclicked{
   display: inline;
   position:relative;
   cursor: pointer;
   color: #939;
}
span.fn{
   display: inline;
   position:relative;
   cursor: pointer;
   color: #939;
}
span.fnclicked span.fntext{
   display:block;
   text-indent: 0;
   padding: 2mm;
   position:absolute;
   top:1em; left:0em; width:15em;
   background-color:#333; color:#ddd;
   font-size: 90%;
   line-height: 1.3em;
   z-index: 50;
   opacity: 0.9;
}
span.fnclicked span.fntext a{
   color: #7ad;
}
span.fn span.fntext{
   display: none;
}
span.fn:hover span.fntext{
   display:block;
   text-indent: 0;
   padding: 2mm;
   position:absolute;
   top:1em; left:0em; width:15em;
   background-color:#333; color:#ddd;
   font-size: 90%;
   line-height: 1.3em;
   z-index: 50;
   opacity: 0.9;
}
span.fn:hover span.fntext a{
   color: #7ad;
}
span.fn:active span.fntext{
   display: none;
}
span.fnclicked:active span.fntext{
   display: none;
}
span.fn:hover span.fntext span.fntext{
   display: none;
}
span.fnclicked:hover span.fntext span.fntext{
   display: none;
}
span.fnclicked span.fntext span.fntext{
   display: none;
}
.fnote
{
   position: fixed;
   display:none;
   bottom: 0;
   left: 0;
   border: solid #99f 0.0mm;
   width: 100%;
   height: 0;
}
.foot {
   color: #666;
   background: #333;
   font-size: 50%;
      }
.mnote
{
   float: right;
   top: 40%;
   left: 5.3in;
   border: solid #99f 0.0mm;
   width: 1.4in;
   height: 1.8in;
}
.mnotetext
{
   width: 1.1in;
   font-size: 65%;
   padding: .0mm;
   color: #9ff;
}
.releasenotes
{
	margin-top: 0.2em; margin-bottom: 0.2em;
	margin-right: 0in;
	margin-left: 3mm;
	width: 1.8in;
	height: 1.3in;
	font-size: 70%;
	border: solid black thin;
	padding: 0.4em;
	line-height: 1.5ex;
	background: #003;
	color: #9ff;
	float:right;
	overflow: auto;
	z-index: 50;
	position:relative;
}
.releasenotes p
{
    text-indent: 0em;
    margin-top: 1em;
    margin-bottom: 0em;

}
.authorblock{
   position: relative;
   margin-bottom: 2ex;
   color: #746;
}
.authorlist-article {
   display: inline-block;
   font-size: 90%; 
}
.epigraph{
  font-size: 90%; 
  text-align: right;
  position: relative;
  top: -3ex;
  left: 50%;
  line-height: 1.1em;
  width: 40%;
  margin-bottom: 1em;
}
.epigraph .who, .epigraph .who:link, .epigraph .who:visited{
  color: #666;
}
.epigraph .who:before{
   content: " — "
   }
.title-article {
    text-transform: uppercase;
    line-height: 1.1em;
    font-size: 1.8em; font-weight: bold; text-align: left;
    margin-bottom: 1em;
}
h1
{
    padding-top: 0.7em;
   border-top: solid #c35 0.5mm;
   line-height: 0.8em;
   text-align: left;
   font-weight: normal;
   font-size: 1.4em;
   font-weight: normal;
   margin-top: 1em;
   margin-bottom: 0.2em;
}
h2{
    padding-top: 0.7em;
   border-top: solid #c35 0.5mm;
   line-height: 1.0em;
   text-align: left;
   font-size: 1.2em;
   margin-top: 1em;
   margin-bottom: 0.2em;
   font-weight: normal;
}
h3 {
    text-align: left;
    line-height: 1.1em;
    font-weight: normal;
    margin-top: 1em;
   margin-bottom: 0.2em;
    font-size: 1.0em;
    border-top: solid #c35 0.5mm;
    padding-top: 0.7em;
    }
    
h4 {
    text-align: center;
    line-height: 1.1em;
    font-weight: normal;
    margin-top: 1em;
   margin-bottom: 0.2em;
    font-size: 1.0em;
    padding-top: 0.7em;
    font-style: oblique;
    }


p.warn {
    border: solid #c35 1mm;
    padding: 2mm;
    text-indent: 0em;
}

a:link {
    color: #9cf;
    border-color: transparent;
    border-style: none none dotted none;
    border-width: 0.1em;
    text-decoration: none;
}

a:visited {
    color: #f99;
    border-color: transparent;
    border-width: 0.1em;
    border-style: none none dotted none;
    text-decoration: none;

}
a:active
{
    background: black;

}
sup{
   font-size: 75%;
}
.fnotes, .bib{
   font-size: 85%;
   line-height: 1.1em;
   word-wrap: break-word; /* This is valid, but the W3C validator complains! */
}
.fnotes p, .bib p{
   text-indent: 0em;
   margin-top: 1em;
}
label{
   cursor: pointer;
}
#sharebutton{
   display: none;
}
#sharebutton:checked ~ span{
  display: inline-block;
  }

#share {
  display: none;
  vertical-align: middle;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-left: 1em;
  height: 20px;
}
#share img {
    margin-left: 4px;
    margin-right: 4px;
}
@media print{
html, body{
  background-image: none;
  background: #fff;
}
div.plannav{
   display: none;
}
.postillustration, .postfloatleftillustration{
   width: 30%;
   max-width: 30%;
   float:left;
}
.mainbanner{
   display: none;
}
.maintextbanner{
   display: block;
   color: black;
   background: #ddf;
   font-family: "Helvetica", sans-serif;
   font-size: 1em;
   font-weight: bold;
   padding-top: 0.5em;
   padding-bottom: 0.5em;
}
#mainarray, #dots, #littlelinklist, #planetfooter{
   display: none;
}
.postcontent{
   width: 100%;
}

}
.gsc-url-bottom {
   display: none;
}
.gsc-control-cse {
   background-color: rgba(0, 0, 0, 0.0) !important;
   border: none !important;
   margin-left: -1.2em !important;
}
.gsc-input {
   background-color: rgba(0, 0, 0, 0.0) !important;
   color: white;
}
.gsc-input input {
   background-position: 50% 50% !important;
}
.gsc-search-button{
  border: none;
  margin: 0mm;
  /* margin-top: -0.3em !important; */
  color: #c35 !important;
  font-size: 1.6em !important;
  font-weight: normal !important;
  font-family:  "Baumans", sans-serif !important;
  background: rgba(0, 0, 0, 0.0) !important;
}
.gsc-clear-button {
   display: none !important;
}
.gsc-search-button input{
   height: auto !important;
   border: none !important;
}
 
#parl {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 97.5%;
  padding: 0.4em;
  background: rgb(179, 230, 245);
  color: black;
  font-size: 1.7em;
  line-height: 1em;
}
#parl h2 {
  border: none;
}
#parl p {
  width: 50%;
  margin-left: 25%;
  text-indent: 0;
  margin-top: 1.4em;
  padding-bottom: 1em;
}
#parl a:link {
  background: none;
  color: #966;
}
#parl a:visited {
  background: none;
  color: #666;
}
#parl div.cback {
  background-size: 50%;
  background-position: 50% bottom;
  background-attachment: fixed;
  background-repeat: repeat-y;
}
#parl div.rback {
  background-size: 25%;
  background-position: 75% bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
#parl div.rback p{
  margin-left: 0.2em;
}
#parl div.plannav {
  border: none;
}
@media screen and (max-width: 700px){
html, body{
  background-image: none;
  background: #000;
  }
.anncep {
  color: white; background: rgb(0,0,0); width: 98%; width: auto; margin-left: 0;
}
h2 {
   border-top: none;
 }
#planetfooter {
  float: none;
  position:static;
  margin-top: 7rem; 
}
#csfa {
position:static; left: 0; width: 98%; color: white; margin-top: 7rem; height: auto;
}
#mbg {
 color: rgb(0,0,0); background: black; font-size: 1.4rem; font-weight: bold; position:static; left: 0rem; width: 96%; background-image: none; margin-top: 1rem; padding: 2mm;
}
#mlt {
position:static; left: 0rem; font-size: 1.4rem; width: 96%; margin-top: 5rem;
}
#mml {
position:static; font-size: 2rem;  left: 0; margin-top: 2rem;
}
.mpic {
position: static;
float: right;width: 30%; 
}
#parl div.cback {
  background-image: none;
  background-size: 0%;
}
#parl div.rback {
  background-image: none;
  background-size: 0%;
}
#parl p {
  width: 100%;
  margin-left: 2px;
  text-indent: 0;
  margin-top: 1.4em;
  padding-bottom: 1em;
}
.mainbanner{
   display: none;
}
.maintextbanner{
   display: block;
   color: black;
   background: #ddf;
   font-family: "Helvetica", sans-serif;
   font-size: 1em;
   font-weight: bold;
   padding-top: 0.5em;
   padding-bottom: 0.5em;
}
#mainarray, #dots{
   display: none;
}
.postcontent{
   float: none;
   position:static;
   width: 98%;
   left: 0;
   margin-top: 2em;
   padding-top: 0pt;
   margin-left: 0px;
   color: #ddd;
   line-height: 1.2em;
}
#littlelinklist, #mainlinklist, #frontlatest{
   position: relative;
   left: auto;
   top: auto;
   margin-top: 1em;
   width: 100%;
}
#mainlinklist p, #littlelinklist p{
   font-size: 1.7em;
   margin-bottom: 0.5em;
}
.ebrite iframe{
 width: 98%;
 }
#pagelatest, #frontlatest{
   width: 100%;
}
#frontlatest p, #pagelatest p{
   font-size: 1em;
}
#frontlatest { /* defined enough times yet? */
  left: 1rem;
  width: 90%;
}
.stickright{
   float: right;
   margin: 0.7em;
}
#shopitem{
   display: none;
}
#shoplink{
   margin-top: 1em;
}
.date-article{
   margin-bottom: 1em;
}
.epigraph{
  text-align: center;
  position: relative;
  top: auto;
  left: 20%;
  width: 60%;
  color: #a9a;
  }
span.fnclicked{
   display: inline;
   position:relative;
   cursor: pointer;
   color: #939;
}
span.fn{
   display: inline;
   position:relative;
   cursor: pointer;
   color: #939;
}
span.fnclicked span.fntext{
   display:block;
   text-indent: 0;
   padding: 2mm;
   position:fixed;
   top:20%; left:10%; width:75%;
   background-color:#333; color:#ddd;
   font-size: 90%;
   line-height: 1.3em;
   z-index: 50;
   opacity: 0.9;
}
span.fn span.fntext{
   display: none;
}
span.fn:hover span.fntext{
   display: none;
}
span.fn:active span.fntext{
   display: none;
}
span.fnclicked:active span.fntext{
   display: none;
}
span.fn:hover span.fntext span.fntext{
   display: none;
}
span.fnclicked:hover span.fntext span.fntext{
   display: none;
}
span.fnclicked span.fntext span.fntext{
   display: none;
}
}
