@font-face {
  font-family: "Telegrama";
  src: url(telegrama_render.otf) format("opentype");
}
html {
  font-size: 100%;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  color: black;
  background-color: rgb(223,233,242);
                    /* 223,233,242,1 */
  /* background-image: url(xbgn.jpg); */
  /* background-repeat: repeat; */
  /* background-size: 50%; */
  /* background-attachment: fixed; */
}
a:link {
    color: #6600aa;
}
a:visited {
    color: #666666;
}
/* a { */
/*     text-decoration: none; */
/*     } */
#background {
   position:absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 80rem;
   background-color: rgba(223,223,242,.5);
   }
#contentcontainer {
    /* border: solid red 0.5mm; */
    background-image:
             linear-gradient(to right, rgba(223,223,242,0) 0rem,  rgba(223,223,242,.5)  3rem, rgba(223,223,242,1) 20rem, 
                                       rgba(223,223,242,1) 58rem, rgba(223,223,242,.5) 75rem, rgba(223,223,242,0) 78rem);
    font-family: "Baumans", sans-serif;
    position:relative;
    top:0;
    margin: 0 auto;
    left:0;
    right:0;
    width: 78rem;
    overflow:hidden;
}
#articlecontent {
   font-family: Alegreya, serif;
   line-height: 1.5em;
   font-size: 1.4em;
   width: 39rem;
   min-height: 800px;
   margin-left: 19.5rem;

}
.frontpagedonate {
    display: inline-block;
    margin-bottom: .5rem;
}
.frontpagedonate input[type=image]{
    width: 5rem;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0.3rem;
}
.boxoverlay {
    background-color: rgba(175,175,175,0.8);
    padding: 0.3rem;
}
.mainlinks {
    font-size: 1.8rem;
    padding-left: 1rem;
}

.mainlinks p {
    margin-bottom: 0.5rem;
}
#stack {
  position:absolute;
  left: 0rem;
  top: 105rem;
  width: 75rem;
  /* padding-left: 5rem; */
}
#stack div {
  position:relative;
}

/* #searchbox { */
/*   margin: 0.0em auto 0; */
/*   margin-top: 3rem; */
/*   /* border: solid black 1mm; */ 
/*   width: 60%; */
/*   } */
.gsc-url-bottom {
   display: none;
}
input.gsc-input {
border-color: black; 
}
#___gcse_0{
    margin-top: -1.2rem;
    margin-bottom: -0.5rem;
    margin-left: -1.18rem;
    width: 20rem;
}
.gsc-control-cse {
   background-color: rgba(0, 0, 0, 0.0) !important;
   border: none !important;
}
.gsc-input {
   background-color: rgba(0, 0, 0, 0.0) !important;
   color: gray;
}
#gsc-i-id1{
    text-indent: 100rem !important;
}
.gsc-input input {
    width: 18rem !important;
    border-color: gray !important;
   /* background-position: 50% 50% !important; */
}
.gsc-search-button{
  border: none;
  margin: 0mm;
  /* margin-top: -0.3em !important; */
  color: gray !important;
  font-size: 1rem !important;
  font-weight: normal !important;
  font-family:  "Baumans", sans-serif !important;
  background: rgba(0, 0, 0, 0.0) !important;
}
.gsc-clear-button {
   display: none !important;
}
.gsc-search-button input{
   height: auto !important;
   border: none !important;
}
#picturebackground {
  position:absolute;
  top: 0;
  left: 0;
  width: 75rem;
  height: 200rem;
  background-position: 0 0;
  background-image: url(koBg.jpg);
  background-repeat: no-repeat;
  background-size: 80rem;
  background-attachment: fixed;
  z-index: 0;
}
#solidbg {
  background-color: rgba(179, 210, 245, 1.0);
}
p { 
margin-top: 1.0em; margin-bottom: 1.0em;
}
#social {
    margin-top: 3rem;
    text-align: center;
}
#social img{
  width: 0.8em;
}
.floatbuster{
   clear:both;
}
.listimage{
   width: 15%;
   float: left;
   clear: left;
   margin-right: 1.0em;
   margin-top: 1em;
   margin-bottom: 0em;
}
.listimage img{
   width: 100%;
}
.articlelist p{
   display: inline-block;
   font-size: 1.2em;
   margin-top: 0.5em;
   margin-bottom: 0em;
   /* width: 70%; */
}
span.byline{
   font-size: 0.6em;
   font-style: oblique;
}
#maincontainer{
   height: 100%;
}
img {
     border-width: 0;
}
.push{
   clear: both;
}
.maintextbanner{
  visibility: hidden;
}
.afternotes{
   font-size: 0.7em;
   line-height: 1.3em;
}
.articledate{
   font-style: oblique;
   font-size: 0.9em;
}
#shopitem{
   display: inline-block;
   vertical-align: middle;
   width: 2em;
}
#shopitem img {
 width: 100%;
 }
div.eventlist{
   margin-top: 1.5em;
}
div.eventlist p{
   border-bottom: dotted rgb(52, 19, 226) 0.5mm;
   margin-bottom: 2.3em;
   position: relative;
}
div.eventlist span.eventlistdate{
   font-weight: bold;
   position: absolute;
   left: 0pt;
}
div.eventlist span.eventlisttitle{
   position: absolute;
   right: 0pt;
}
.postillustration{
   max-width: 100%;
}
.postillustration img, .postfloatleftillustration img, .postfloatrightillustration img{
   width: 100%;
}
.postfloatleftillustration{
   width: 300px;
   float: left;
   margin-right: 14px;
}
.postfloatrightillustration{
   width: 300px;
   float: right;
   margin-left: 14px;
}
.smalldivider {
   text-align: center;
   font-size: 100%;
   margin-bottom: 1em;
}
.smalldivider img {
  width: 100px;
}
.centerpic{
  width: 100%;
}
.rightpic{
   float: right;
   margin-right: 14px;
   width: 50%;
 }
.leftpic{
   float: left;
   margin-right: 14px;
   width: 50%;
 }
.tinyleftpic{
   float: left;
   margin-right: 14px;
   width: 20%;
 }
 .tinyleftpic img{
   width: 100%;
 }
 .leftpic img{
   width: 100%;
 }
 .rightpic img{
   width: 100%;
 }
 .centerpic img{
   width: 100%;
 }
.stickright{
   float: right;
   margin: 0.7em;
   margin-right: -25%;
}
.rhform{
   width: 80%;
   border: solid 0.5mm black;
   padding: 1.2em;
}
.rhform img {
  margin-left: 25%;
}
#upcoming {
   font-size: 1.6rem;
   /* left: 60rem; */
   height: 1.5rem;
   /* font-weight: bold; */
   /* background: rgb(250, 15, 15); */
   text-align: center;
   background: red;
   color: white;
   padding: 1.3rem;
   padding-bottom: 1.5rem;
}
#upcoming a{
    text-decoration: none;
  border: none;
   color: white;
  }
#insidenav {
   width: 12rem;
   position: absolute;
   left: -5mm;
   top: -4mm;
}
#insidenav img {
    width: 100%;
}
#insidenav ul {
    list-style-type: none;
}
#insidenav li {
   font-size: 1rem;
   background-color: rgba(223,223,242,.5);
   margin-bottom: 2rem;
   font-family: "Baumans", sans-serif;
   padding: 1mm;
}
#insidenav button {
   margin-bottom: -0.3rem;
   margin-top: .2rem;
   margin-left: -.56rem;
   cursor: pointer;
   border: none;
   font-size: 1rem;
   background-color: rgba(223,223,242,.0);
   font-family: "Baumans", sans-serif;
   /* padding: 1mm; */
}
#insidenav a {
    text-decoration: none;
    border: none;
}
#frontnav {
   text-align: center;
   margin: 0em auto;
   margin-top: 2rem;
   padding: 3mm;
   width: 65rem;
   font-size: 1.5rem;
   border: solid black 1mm;
   line-height: 2em;
   }
#frontnav a {
  border: none;
}
#frontnav p {
  display: inline;
  white-space: nowrap;
  }
#frontnav p:after {
  /* content: ' ●'; */
  content: url(moonsep.png);
  margin-left: 5px;
  margin-top: 5px;
  display: inline-block;
  vertical-align: middle;
  }
.donateform p{
   text-indent: 0em;
   margin-bottom: 0.7em;
   margin-top: 1.0em !important;
}
.donateform input{
   margin-top: 0.5em;
   margin-left: 25%;
}
.newsletterform p{
   text-indent: 0em;
   margin-bottom: 0.7em;
   margin-top: 0.5em !important;
}
.newsletterform input{
   margin-top: 0.3em;
   margin-left: 4%;
   display: inline-block;
   vertical-align: bottom;
}
.newsletterform a:hover{
   background: none !important;
}
.tinynote {
  font-size: 50% !important;
  margin-left: 0pt;
  margin-bottom: 0pt !important;
  }
.joinform{
   width: 30%;
   float: left;
   margin: 1.2rem;
   border: solid 0.5mm #33d;
   padding: 1.2rem;
}
.joinform p{
   text-indent: 0em;
   margin-bottom: 0.7em;
   margin-top: 0em;
}
.joinform select{
   margin-bottom: 0.7em;
}
.formbox {
   width: 40%;
   margin: 1.0rem;
   border: solid 0.5mm #33d;
   padding: 1.0rem;
   display: inline-block;
   vertical-align: top;
}
/* Shows table */
      div.plannav a:link, div.plannav a:visited{
         background: none;
      }
      div.plannav div.timecell:hover{
         background: #006;
      }
      div.plannav a{
         /* display: block; */
      }
      div.plannav {
        font-size: 1.0rem;
        line-height: 1.1em;
        border: solid 0.5mm #ddd;
        margin-bottom: 1em;
        display: table;
      }
      div.plannav div{
         padding: 0.2em;
         padding-bottom: 0.4em;
      }
      div.plannav div.tr{
         display: table-row;
      }
      div.plannav div.daycell{
         display: table-cell;
         padding: 1em;
         font-weight: bold;
         font-size: 1.25em;
      }
      div.plannav div.timecell{
         display: table-cell;
      }
/* ******************** */
.ebrite{
 margin-left: 2.2%;
}
.ebrite iframe{
 width: 56%;
 }
.rpost{
   font-size: 1.4em;
   font-family: "Helvetica", sans-serif;
   margin-top: 1.5em;
}
p.postlist{
   text-indent: 0em;
   margin-top: 1.5em;
   line-height: 1.1em;
}
p.postlist a:link{
   color: #ddd;
}
p.postlist a:visited{
   color: #999;
}
p.postlist a:hover{
   background: #006;
}
.eventdate{
    font-style: oblique;
 }
 .address {
    font-family: monospace;
    font-size: 1.2em; /*to compensate for default small monospace*/
 }
 .face{
    width: 33%;
    float: left;
    margin-right: 0.5em;
 }
.postcontent{
   font-family: Alegreya, serif;
   font-size: 1.4rem;
}
.morecontent{
   float: left;
   font-family: Alegreya, serif;
   line-height: 1.2em;
   font-size: 1.1em;
   width: 50%;
   margin-top: 0em;
   margin-left: 2.2%;
   margin-bottom: 2.5em;
}
abbr {
  cursor: pointer;
  text-transform: lowercase;
  font-family: "Alegreya SC", serif;
}
.smallcaps {
  text-transform: lowercase;
  font-family: "Alegreya SC", serif;
}
.postcontent blockquote{
   line-height: 1.3em;
}
.articlelist {
  color: black;
  }
.articlelist a:visited{
   background: none;
}
.articlelist a:link{
   background: none;
}
.mainbanner{
   /* width: 37.5rem; */
   height: 17rem;
}
.mainbanner img, .mainbanner video{
   width: 100%;
   position: absolute;
   left: 0rem;
   top: 0rem;
} 
.mainbanner a:hover {
  background: none;
  }
.mainbanner a {
  border: none;
  }
#dots{
   position: absolute;
   left: 47%;
   top: 2.3%;
   width: 5.5%;
}

#dots img{
   width: 100%;
}
.byline {
   font-family: "Helvetica", sans-serif;
   font-size: 0.85em;
   margin-bottom: 1.5em;
}
.ll{
   font-family: "Baumans", sans-serif;
}
.ll a:link{
    color: black;
    text-decoration: none;
}
a.lnl:link{
   line-height: 0.4em;
   color: #ddd;
   background: none;
}
a.lnl:visited{
   color: #999;
   background: none;
}
a.lnl:hover{
   background: #006;
}
#mainlinklist{
   position: absolute;
   width: 40%;
   top: 20%;
   left: 2%;
}
#mainlinklist a {
  border: none;
  }
#mainlinklist p{
   margin-top: 0pt;
   margin-bottom: 1.1em;
   text-indent: 0px;
   font-size: 2.4em;
}
#mainlinklist a:hover{
   background: blue;
}
.sitenewsitem a:visited{
   color: #F38C90;
}
.sitenewsitem a:link{
   color: #F38C90;
}
#littlelinklist{
   position: absolute;
   left: 60%;
   top: 3%;
}
#littlelinklist p{
   margin-top: 0pt;
   margin-bottom: 1em;
   text-indent: 0px;
   font-size: 1.7em;
}
#schedule iframe {
  height: 100%;
  width: 100%;
}
#sponsors {
   margin: .5rem auto;
}
#sponsors h2, #mainarray h2, #schedule h2 {
   font-size: 1em;
   text-align: center;
   border: none;
}
#sponsorlogos {
   width: 150px;
   height: 75px;
   margin: 1rem auto;
   /* border: solid 1mm black; */
   position: relative;
   overflow: hidden;
}
#sponsorlogos img {
  animation: sponsorslide 10s linear infinite alternate;
  webkit-animation: sponsorslide 10s linear infinite;
  position:absolute;
}

#mainlinklist a.thisone:link{
   color: #F5EB08;
}
#mainlinklist a.thisone:visited{
   color: #F5EB08;
}
#littlelinklist a:hover{
   background: #006;
}
#mainarray {
   text-align: center;
   padding-left: 3.0rem;
   margin: 2em auto;
}
#mainarray div.maincircle {
   width: 15%;
   margin-right: 4.0%;
   display: inline-block;
}
#mainarray div.maincircle img {
   width: 90%;
}
#mainarray div.maincircle p {
   font-size: 0.7em;
   margin-top: 2mm;
   text-indent: 0;
}
img.circle {
    width: 7rem;
    /* padding-top: 1rem; */
    overflow:hidden;
    display: inline-block;
    margin-left: 1.0rem;
}
.circlebox a:link, .circlebox a:visited, .circlebox a:hover {
  border: none;
  text-decoration: none;
  background: none;
  }
.circlebox img {
    width: 100%;
}
#mainarray a:hover {
  background: none;
  }
.slidecontainer {width:22.5rem; height: 15rem; margin: 0;
  overflow:hidden;
}
div.slidecontainer video, div.slidecontainer img{
    width: 100%;
}
#frontcontent {
  text-align: center;
}
#centerline {
  position:absolute;
  border: solid red 0.3mm;
  height: 100%;
  left: 50%;
  top: 0;
}
#smile {
  text-align: center;
  display: inline-block;
  vertical-align: top;
  margin: 1em auto;
  width: 30%;
  }
#smile a {
  border: none;
  }
#smile img {
  padding: 0;
  margin: 0;
  vertical-align: middle;
}
.cutoff {
    overflow:hidden;
}
.scroll {
    overflow: auto;
}
.btxt {
   text-align: center;
   font-weight: bold;
   font-size: 1.4rem;
   padding: 0.4rem;;
}
.btxt h1, .btxt h2, .btxt h3 {
   text-align: center;
   margin: 0;
   margin-bottom: 1rem;
   font-weight: bold;
   border: none;
}
.btxt a:link, .btxt a:visited {
    color: black;
    border: none;
    text-decoration: none;
}
.ctxt {
   text-align: center;
   font-size: 1.4rem;
   padding: 0.4rem;
}
.ctxt h1, .ctxt h2, .ctxt h3 {
   text-align: center;
   margin: 0;
   margin-bottom: 1rem;
   font-weight: bold;
   border: none;
}
.ctxt a:link, .ctxt a:visited {
    color: black;
    border: none;
    text-decoration: none;
}
.ltxt {
   text-align: left;
   font-size: 1.4rem;
   padding: 0.4rem;
}
.ltxt h1, .ltxt h2, .ltxt h3 {
   text-align: left;
   margin: 0;
   margin-bottom: 1rem;
   font-weight: bold;
   border: none;
   }
.ltxt a:link, .ctxt a:visited {
    color: black;
    border: none;
    text-decoration: none;
}
#frontlatest{
   text-align: center;
   margin: 4rem auto;
   margin-top: 3rem;
   /* width: 36%; */
   font-family: "Baumans", sans-serif;
   font-size: 1.2em;
   color: black;
}
#frontlatest h1 {
  margin-top: 0;
  padding-top: 0;
  text-align: left;
  margin-left: 0%;
  text-align: center;
}
#frontlatest p{
   text-indent: 0pt;
   margin-bottom: 0.5em;
   margin-top: 0pt;
   margin-left: 0%;
   text-align: center;
}
#frontlatest a:link {
   border: none;
   color: black;
}
#frontlatest a:visited{
   border: none;
   color: black;
}
#frontlatest a:hover {
   background: blue;
}
#pagelatest{
   margin-top: 3em;
}
#pagelatest p{
   font-family: "Baumans", sans-serif;
   color: #fff;
   font-size: 1.5em;
   text-indent: 0pt;
   margin-bottom: 0.5em;
   margin-top: 0pt;
}
#pagelatest a:link{
   color: #fff;
}
#pagelatest a:visited{
   color: #999;
}
#ulate{
   margin-top: 3em;
}
#ulate p{
   font-family: "Baumans", sans-serif;
   color: #fff;
   font-size: 1.0em;
   text-indent: 0pt;
}
.invisible {
    display: none;
}
.eventgrouptitle{
   color: #a66;
   margin-bottom: 0pt;
}
.relatedevents{
   border-left: dotted #c35 2mm;
   margin-top: 0pt;
   padding-left: 1.2em;
   padding-top: 1em;
}
.relatedevents p{
   margin-top: 0pt;
}

.caption{
   color: #5F88B4;
   margin-left: 0em;
   font-size: 80%;
   line-height: 1.2em;
   margin-top: 1px;
   text-indent: 0pt;
}
.picturecredit{
   margin-left: 0.7em;
   font-style: oblique;
}
.caption a:link, .picturecredit a:link, .caption a:visited, .picturecredit a:visited {
  background: none;
  color: #B23AE4;
}
.hugepicture .caption{
   color: #666;
   margin-left: 1em;
   font-size: 85%;
   line-height: 1.2em;
}
div.headlinesummary{
display: inline;
}
.headlinetitle{
   font-weight: bold;
}
.sitelinkitem .headlinetitle {
   font-weight: normal;
}
div.authorlist-article + p {
   text-indent: 0em;
}
.sitenewsitem {
text-indent: 0em; margin-top: 1em; margin-bottom: 1em;
line-height: 1.2em;
font-family: "Noticia Text", serif;
font-size: 0.85em;
color: white; 
}
.newsdate {color: #DF88F5; font-weight: normal;}
.headlinesummary{
}

div.title-article + p {
   text-indent: 0em;
}
p.error {
         color: #ff3333;
         font-weight: bold;
}
.urldiv {
   display: none;
}
span.fnclicked{
   display: inline;
   position:relative;
   cursor: pointer;
   color: #939;
}
span.fn{
   display: inline;
   position:relative;
   cursor: pointer;
   color: #939;
}
span.fnclicked span.fntext{
   display:block;
   text-indent: 0;
   padding: 2mm;
   position:absolute;
   top:1em; left:0em; width:15em;
   background-color:#333; color:#ddd;
   font-size: 90%;
   line-height: 1.3em;
   z-index: 50;
   opacity: 0.9;
}
span.fnclicked span.fntext a{
   color: #7ad;
}
span.fn span.fntext{
   display: none;
}
span.fn:hover span.fntext{
   display:block;
   text-indent: 0;
   padding: 2mm;
   position:absolute;
   top:1em; left:0em; width:15em;
   background-color:#333; color:#ddd;
   font-size: 90%;
   line-height: 1.3em;
   z-index: 50;
   opacity: 0.9;
}
span.fn:hover span.fntext a{
   color: #7ad;
}
span.fn:active span.fntext{
   display: none;
}
span.fnclicked:active span.fntext{
   display: none;
}
span.fn:hover span.fntext span.fntext{
   display: none;
}
span.fnclicked:hover span.fntext span.fntext{
   display: none;
}
span.fnclicked span.fntext span.fntext{
   display: none;
}
.fnote
{
   position: fixed;
   display:none;
   bottom: 0;
   left: 0;
   border: solid #99f 0.0mm;
   width: 100%;
   height: 0;
}
.foot {
   color: #666;
   background: #333;
   font-size: 50%;
      }
.mnote
{
   float: right;
   top: 40%;
   left: 5.3in;
   border: solid #99f 0.0mm;
   width: 1.4in;
   height: 1.8in;
}
.mnotetext
{
   width: 1.1in;
   font-size: 65%;
   padding: .0mm;
   color: #9ff;
}
.releasenotes
{
	margin-top: 0.2em; margin-bottom: 0.2em;
	margin-right: 0in;
	margin-left: 3mm;
	width: 1.8in;
	height: 1.3in;
	font-size: 70%;
	border: solid black thin;
	padding: 0.4em;
	line-height: 1.5ex;
	background: #003;
	color: #9ff;
	float:right;
	overflow: auto;
	z-index: 50;
	position:relative;
}
.releasenotes p
{
    text-indent: 0em;
    margin-top: 1em;
    margin-bottom: 0em;

}
.authorblock{
   position: relative;
   margin-bottom: 2ex;
   color: #746;
}
.authorlist-article {
   display: inline-block;
   font-size: 90%; 
}
.epigraph{
  font-size: 90%; 
  text-align: right;
  position: relative;
  top: -3ex;
  left: 50%;
  line-height: 1.1em;
  width: 40%;
  margin-bottom: 1em;
}
.epigraph .who, .epigraph .who:link, .epigraph .who:visited{
  color: #666;
}
.epigraph .who:before{
   content: " — "
   }
.title-article {
    text-transform: uppercase;
    line-height: 1.1em;
    font-size: 1.6em; font-weight: bold; text-align: left;
    margin-top: 2rem;
    margin-bottom: 1em;
    text-align: center;
}
h1 {
   padding-top: 0.7em;
   line-height: 0.8em;
   text-align: center;
   font-weight: bold;
   font-size: 1.8rem;
   margin-top: 0.5em;
   margin-bottom: 0.5em;
}
h2 {
   line-height: 1.0em;
   text-align: center;
   font-size: 1.6rem;
   margin-top: 1rem;
   margin-bottom: 0.2rem;
   font-weight: normal;
}
h3 {
    text-align: center;
    line-height: 1.4rem;
    font-weight: normal;
    margin-top: 1rem;
    margin-bottom: 0.2em;
    font-size: 1.2rem;
    padding-top: 0.7em;
    font-style: oblique;
    }
    
h4 {
    /* Please don’t */
    }
#searchloading {
    height: 2.7rem;
    color: #cccccc;
}

p.warn {
    border: solid #c35 1mm;
    padding: 2mm;
    text-indent: 0em;
}

sup{
   font-size: 75%;
}
.fnotes, .bib{
   font-size: 85%;
   line-height: 1.1em;
   word-wrap: break-word; /* This is valid, but the W3C validator complains! */
}
.fnotes p, .bib p{
   text-indent: 0em;
   margin-top: 1em;
}
label{
   cursor: pointer;
}
#sharebutton{
   display: none;
}
#sharebutton:checked ~ span{
  display: inline-block;
  }

#share {
  display: none;
  vertical-align: middle;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-left: 1em;
  height: 20px;
}
#share img {
    margin-left: 4px;
    margin-right: 4px;
}


div#frontcontainer {
    /* border: solid red 0.5mm; */
    /* background-image: */
    /*          linear-gradient(to right, rgba(223,223,242,0) 0rem,  rgba(223,223,242,.5)  3rem, rgba(223,223,242,1) 20rem,  */
    /*                                    rgba(223,223,242,1) 58rem, rgba(223,223,242,.5) 75rem, rgba(223,223,242,0) 78rem); */
    font-family: "Baumans", sans-serif;
    position:relative;
    /* top:3rem; */
    margin: 0 auto;
    /* left:0; */
    /* right:0; */
    width: 50rem;
    /* width: 100%; */
    /* height: 64rem; */
    overflow:hidden;
}
#leftcontainer {
    position:relative;
    top: 2.1rem;
    left: 9rem;
    width: 30rem;
    height: 63rem;
    /* height: auto; */
    /* min-height: 65rem; */
    /* background-color: #9af; */
    overflow:hidden;
    padding: 0;
}
#rightcontainer {
    position:absolute;
    top: 2.1rem;
    left: 39rem;
    width: 30rem;
    height: 63rem;
    /* height: auto; */
    /* min-height: 65rem; */
    /* background-color: #9af; */
    overflow:hidden;
    padding: 0;
}
.lefttext {
    width: 45%;
    float: left;
}
.halfbox {
    width: 23.0rem;
    /* text-align: left; */
    margin: 0;
    /* border: solid blue 0.5mm; */
    font-size: 1.2rem;
    overflow:hidden;
    display: inline-block;
    vertical-align: top;
}
div.frontbox, div.frontibox {
    text-align: center;
    margin: 0;
    padding: 0.0rem;
    padding-left: 0rem;
    font-size: 1.2rem;
    overflow:hidden;
}
div.frontbox a:link, div.frontibox a:visited{
    color: black;
}
.smalltopstack {
    margin-right: 1.67rem;
    display: inline-block;
    vertical-align: top;
    width: 15rem;
    height: 10rem;
}
.smallcstack {
    margin-right: 1rem;
    display: inline-block;
    vertical-align: middle;
    width: 22rem;
    height: 7rem;
}
.teal {
    background-color: #00aaaa;
}
div.bigwords {
    font-size: 4rem;
    padding: 2rem;
}
div.medwords {
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
    /* padding-top: 1rem; */
    /* padding-bottom:: 1rem; */
}
div.medwords button {
    padding: 0;
    font-size: 2rem;
    font-family: "Baumans", sans-serif;
    border: none;
    cursor: pointer;
}
div.bigwords button {
    font-size: 4rem;
    font-family: "Baumans", sans-serif;
    background: none;
    border: none;
    cursor: pointer;
}
.frontibox {
    padding: 0;
}
.frontibox img, .frontibox video, .halfbox img {
    width: 100%;
}
.frontibox p {
    margin-top: 0;
}
.frontbox a:link, .frontibox a:link{
    border-bottom: solid 1mm;
    border-color: #ccaacc;
}
a div.frontbox{
    color: black;
    text-decoration: none;
}
div.bigwords button {
    border-bottom: solid 1mm;
    border-color: #ccaacc;
}
div.bigwords a:link, div.bigwords a:visited {
    text-decoration: none;
    border-bottom: solid 1mm;
    border-color: #ccaacc;
    color: black;
}
div.medwords a:link, div.medwords a:visited {
    text-decoration: none;
    border-bottom: solid 1mm;
    border-color: #ccaacc;
    color: black;
}
.domebox {
 background:url(/static/domec.jpg);background-repeat: no-repeat;
 background-size: 100%;
 background-position: 0px -8px;
 line-height: 2.47rem;

}
.linkoverlay {
    background-color: rgba(200,200,200,.8);
    width: 10rem;
    margin: 0 auto;
}
div.domebox a:link{
    border: none;
}
.domebox button{
    background: none;
    border: none;
    color: black;
}
.slidewrapper {
    width: 500rem;
    height: 30rem;
    overflow:hidden;
    animation: slide 80s step-end infinite;
    webkit-animation: slide 100s step-end infinite;
    background-color: #cccccc;
}
.slide {
    float: left;
    width: 50rem;
    height: 33.333rem;
}

.slide img {
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}
@keyframes slide {
10% {margin-left:   0   ;}
20% {margin-left:  -50rem;}
30% {margin-left:  -100rem;}
40% {margin-left:  -150rem;}
50% {margin-left:  -200rem;}
60% {margin-left:  -250rem;}
70% {margin-left:  -300rem;}
80% {margin-left:  -350rem;}
90% {margin-left:  -400rem;}
100% {margin-left: -450rem;}
}
@-webkit-keyframes slide {
10% {margin-left:   0   ;}
20% {margin-left:  -50rem;}
30% {margin-left:  -100rem;}
40% {margin-left:  -150rem;}
50% {margin-left:  -200rem;}
60% {margin-left:  -250rem;}
70% {margin-left:  -300rem;}
80% {margin-left:  -350rem;}
90% {margin-left:  -400rem;}
100% {margin-left: -450rem;}
}
#planetfooter{
   /* height: 1rem; */
   margin-top: 3rem;
   font-size: 0.75em;
   margin-bottom: 0.2rem;
} 
#planetfooter .footerlinks {
  text-align: center;
  margin: 0 auto;
}
#planetfooter .footerlinks a{
   display: inline-block;
   margin-right: 2em;
   border: none;
   text-decoration: none;
}
#planetfooter .footerlinks a:visited{
   color: #4A84BD;
}
#planetfooter .footerlinks a:link{
   color: #4A84BD;
}
/* #planetfooter .footerlinks a:hover{ */
/*    background: rgba(20, 20, 20, 0.65); */
/* } */


@keyframes slideFadeIn {
	from { opacity: 0.0; }
	to { opacity: 1.0; }
}

@-webkit-keyframes slideFadeIn {
	from { opacity: 0.0; }
	to { opacity: 1.0; }
      }
@keyframes sponsorslide {
        from { left: 0; }
        to   { left: -429px; }
      }
@-webkit-keyframes sponsorslide {
        from { left: 0; }
        to   { left: -429px; }
      }
@media screen and (-webkit-min-device-pixel-ratio:0) { 
    /* special rules for consistency with Chrome */
html {
  font-size: 80%;
}
