<!DOCTYPE HTML><html><head><meta content="text/html;charset=utf-8" http-equiv="Content-Type" /><meta content="width=device-width, initial-scale=1.0" name="viewport" />
<link type="text/css" href="/static/admin/js/jquery-ui-1.10.4.custom.css" rel="Stylesheet" />
<script type="text/javascript" src="/static/admin/js/jquery-1.10.2.js"></script>
<script src="/static/admin/js/ui/jquery-ui.custom.js" type="text/javascript"></script>
{% block extrahead %}{% endblock %}
<title>{% block title %}{% endblock %}</title></head>
<body>
   {% block ubertitle %}
   {% endblock %}
   {% block nav %}
   {% endblock %}
   {% block content %}
   {% endblock %}
</body>
</html>
