{% extends "sitex7298.html" %}
{% block title %}Donation and Member Signup Page{% endblock %}
{% block style %}
{% endblock %}
{% block top %}

    <div class = 'frontibox'>
        <img src = "/static/Logo-Blue-20170909-01.png" alt="" />
   </div>
   <div class = 'maintextbanner'>The Friends of Arlington’s Planetarium</div>
   <div class = 'donorformpage'>

   <p>Thank you for your interest and support. Please use the form on this page
   to purchase a membership and/or make a donation to the Friends of the Planetarium.
   <span class = 'required'>The entries with a *</span> are required.
   </p>

 <form action = '/donation_submit/' method = 'POST'>
    <button disabled onclick="return false;" tabindex="-1" class='invisible'></button>
     <span class = "errorlist">{{errormessage}}</span>
   <h2>About you</h2>
 {{ form.non_field_errors }}
 
   {% csrf_token %}
   <div class = 'form_minor_section'>
       <p><span class= 'required'>* First name</span>: {{form.first_name}} {{form.first_name.errors}}</p> 
       <p><span class = 'required'>* Last name</span>: {{form.last_name}} {{form.last_name.errors}}</p>
       <p>Middle name: {{form.middle_name}} {{form.middle_name.errors}}</p>
       <p>Suffix (Jr., etc.) {{form.suffix_name}} {{form.suffix_name.errors}}</p>
   </div>
   <div class = 'form_minor_section'>
       <p>Street address: {{form.mailing_street}} {{form.mailing_street.errors}}</p>
       <p>City: {{form.mailing_city}} {{form.mailing_city.errors}}</p>
       <p>State: {{form.mailing_state}} {{form.mailing_state.errors}}</p>
       <p>Zip code: {{form.mailing_zip}} {{form.mailing_zip.errors}}</p>
       <p>Phone number: {{form.phone}}&nbsp;&nbsp;&nbsp;Type: {{form.phone_type}} {{form.phone_type.errors}}</p>
   </div>
   <div class = 'form_minor_section'>
       <p> <span class = 'required'>* Email address</span>: {{form.email}} {{form.email.errors}} </p>
       <p>{{form.wants_email}} {{form.wants_email.errors}} I want to receive email communications including advance notice of shows and events, and the Friends’ newsletter.<br />
           (Uncheck the box if prefer not to receive our announcements.)</p>

        <h2>What would you like to do?</h2>

       <div class = 'form_minor_section'>
           <p>If you would like to purchase a membership, please choose which type:</p>
           <p>{{form.member_type}} {{form.member_type.errors}}</p>
           <p>If you are purchasing a membership, is this a:</p>
            {{form.purpose}} {{form.purpose.errors}}
       </div>
       <div class = 'form_minor_section'>
           If you would like to make a donation in addition to, or instead of, purchasing a membership,
           please enter the amounts here:<br/>
           Unrestricted donation: {{form.donation}} {{form.donation.errors}}<br />
           David M. Brown scholarship fund: {{form.brown_donation}} {{form.brown_donation.errors}}
       </div>
       <div class = 'form_minor_section'>
           <p>{{form.comments}} {{form.comments.errors}}
       </div>
   <button type = 'submit'>Submit form</button>
  </form>
  </div>
   </div>
{% endblock %}
