{% extends "sitex7298.html" %}
{% block title %}Donation and Member Signup Page{% endblock %}
{% block style %}
{% endblock %}
{% block top %}

    <div class = 'frontibox'>
        <img src = "/static/Logo-Blue-20170909-01.png" alt="" />
   </div>
   <div class = 'maintextbanner'>The Friends of Arlington’s Planetarium</div>
   <div class = 'donorformpage'>

   <p>Thank you for supporting the Friends of the Planetarium.
   Please check the information on this page and, if it is correct, click the button to go on to Paypal.
   If you need to correct anything, please use your browser's back button.
   </p>

   <h2>About you</h2>
 
   {% csrf_token %}
   <div class = 'form_minor_section'>
       <p>First name: <span class = 'formregurgitation'>{{c.first_name}}</span> </p> 
       <p>Last name: <span class = 'formregurgitation'>{{c.last_name}}</span> </p>
       <p>Middle name: <span class = 'formregurgitation'>{{c.middle_name}}</span> </p>
       <p>Suffix (Jr., etc.) <span class = 'formregurgitation'>{{c.suffix_name}}</span> </p>
   </div>
   <div class = 'form_minor_section'>
       <p>Street address: <span class = 'formregurgitation'>{{c.mailing_street}}</span> </p>
       <p>City: <span class = 'formregurgitation'>{{c.mailing_city}}</span> </p>
       <p>State: <span class = 'formregurgitation'>{{c.mailing_state}}</span> </p>
       <p>Zip code: <span class = 'formregurgitation'>{{c.mailing_zip}}</span> </p>
       <p>Phone number: <span class = 'formregurgitation'>{{c.phone}}&nbsp;({{c.phone_type}})</span> </p>
   </div>
   <div class = 'form_minor_section'>
       <p> Email address: <span class = 'formregurgitation'>{{c.email}}</span>  </p>
       {% if c.wants_email %}
       <p>You <b>do</b> want to receive email communications.
       {% else %}
       <p>You <b>do not</b> want to receive email communications.
       {% endif %}

        <h2>Transactions</h2>

       <div class = 'form_minor_section'>
           <p>Membership type:<span class = 'formregurgitation'>
           {% if c.member_type != 'Nomembership' %}
               {{c.member_type}},
               {% if c.purpose == 'New' %} new: ${{c.membershipCharge|floatformat:2}}
               {% else %} renewal: ${{c.membershipCharge|floatformat:2}}
               {% endif %}
           {% else %}
               None.
               </span>
           {% endif %}
           </p> 
           <p>General Donation: <span class = 'formregurgitation'>${{c.donation|floatformat:2}}</span></p>
           <p>David M. Brown Scholarship Donation: <span class = 'formregurgitation'>${{c.brown_donation|floatformat:2}}</span></p>
           <p>Total for Paypal: <span class = 'formregurgitation'>${{c.total|floatformat:2}}</span>.</p>
       </div>
       <div class = 'form_minor_section'>
           <p>Comments: <span class = 'formregurgitation'>{{c.comments}}</span> 
       </div>
<!--<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">-->
<!--<input type="hidden" name="cmd" value="_s-xclick">-->
<!--<input type="hidden" name="hosted_button_id" value="4CBANRHF2YN2G">-->
<!--<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">-->
<!--<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">-->
<!--</form>-->
   <form action = 'https://www.paypal.com/cgi-bin/webscr' method = 'POST' target="_top">
       <input type="hidden" name="cmd" value="_xclick">
       <input type="hidden" name="business" value="planetarium.donations@gmail.com" />
       <input type="hidden" name="item_name" 
          value="don{{c.donationCharge}}brn{{c.brown_donation}}mem-{{c.member_type}}{{c.membershipCharge}}" />
       <input type="hidden" name="item_number" value="{{invoice}}" />
       <input type="hidden" name="amount" value="{{c.total|floatformat:2}}" />
       <input type="hidden" name="no_shipping" value="1" />
       <input type="hidden" name="return" value="http://friendsoftheplanetarium.org/return_from_paypal" />
       <!--<input type="hidden" name="return" value="http://friendsoftheplanetarium.org/" />-->
       <button type = 'submit'>Looks good: take me to PayPal</button>
      <!--<input style = 'margin: 0; margin-top: 3.2mm; border: solid #55f 0.5mm; padding: 3mm; padding-top: 1mm; padding-bottom: 1mm;' type="image" src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_logo_h_100x26.png" border="0" name="submit" alt="Pay with Paypal" />-->
   </form>
  </div>
{% endblock %}
