{% extends "site1000.html" %}
{% block title %}The Friends of Arlington’s Planetarium{% endblock %}
{% block body %}
  <div id = "frontlatest">
      <div class="upcoming">
        <p>This weekend: 
         <!--(Reservations recommended for these special programs).-->
        <a href='http://www.apsva.us/Page/2706'>Arlington Public Schools programming.</a>
      </p>
      </div>
    
         <h2>Recent Items:</h2>
   {% for p in latestentries %}
      <p> <a href = "/{{ p.0 }}/{{ p.1.id }}">{{ p.1.title }}</a></p>
   {% endfor %}
  <div class = "ll" id = 'mainlinklist1000'>
  <p><a href="/event">Events &amp; Shows</a></p>
  <p><a href="/join">Join, Donate, Subscribe</a></p>
  <p><a href="/post">Articles &amp; News</a></p>
  <p><a href="/notice">Press</a> ● <a href="/movies">Movies</a></p>
  <p><a href="/about">About the Planetarium</a></p>

  <div ><a href="http://www.cafepress.com/friendsarlplanetarium/8533104"><div id = "shoplink"><p>Shop</p></div><div id = "shopitem"><img alt = "mugshot" width = "80" src="/static/mugforsale.png" /></div></a></div>

  <script>
    (function() {
      var cx = '007968053313794302273:aypyetdofbi';
      var gcse = document.createElement('script');
      gcse.type = 'text/javascript';
      gcse.async = true;
      gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
          '//www.google.com/cse/cse.js?cx=' + cx;
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(gcse, s);
    })();
  </script>
  <div class="gcse-search"></div>

  <div id = "social">
    <p><a href="http://facebook.com/friendsoftheplanetarium"><img src = "/static/fb.png" alt="" />acebook</a>&nbsp;
    <a href="http://twitter.com/FrnzPlanetarium"><img src = "/static/twit.png" alt="" />witter</a>&nbsp;
    <a href="http://instagram.com/FrnzPlanetarium"><img src = "/static/insta.png" alt="" />Instagram</a></p>
  </div>
  <div id = 'gcal'>
  <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=400&amp;wkst=2&amp;bgcolor=%23999999&amp;src=u2k0tc9r2o3vt4s495itgnrol4%40group.calendar.google.com&amp;color=%2328754E&amp;ctz=America%2FNew_York" style="border:solid 1px #777" width="300" height="400" frameborder="0" scrolling="no"></iframe>
  </div>
  </div>
</div>
<div id = 'morse'>
Brandon Morse is a Washington, DC based artist who uses custom computer
software to create visual simulations of complex systems. He has been teaching
at the University of MD since 2000. He received his BFA from the University of
Wisconsin Stevens Point and his MFA in Art &amp; Technology from The Ohio State
University. He has exhibited his work at the Corcoran Museum of Art in
Washington, DC, the Nanjing Museum in China, the American University Museum at
the Katzen Arts Center, Kusthalle Detroit, as well as many gallery exhibitions
across the United States, Europe and Asia.  You can see examples of some of his
video art <a href = 'http://www.coplanar.org'>here</a>.
<div class = 'closer'><a href = ''>Close</a></div>
</div>
<div id = 'campaigndescription'>
  <h1>World Premiere Video Art Campaign</h1>
  
  <p>Donate now to the Friends of Arlington’s Planetarium World Premiere Video Fund!</p>

  <p>Visual artist <a href = '#morse'>Brandon Morse</a> is creating an original full dome video for the
  David M. Brown Planetarium. The world premiere of this video, titled “In This
  Convex Hull,” is scheduled for October 2016. The artist will be at the
  Planetarium for the premiere, to talk about his creation!</p>

  <p>The Friends of Arlington’s Planetarium, in partnership with the Arlington
  Cultural Affairs Department, is sponsoring this unique, exciting project—but
  we need your help! We are launching a special fundraising drive to cover our
  costs related to creating and presenting the video.</p>

  <form class = "donateform " action="https://www.paypal.com/cgi-bin/webscr" method="post">
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="hosted_button_id" value="MQKTXL3EDRM74">
  <input type="hidden" name="item_name" value="Morse Video Fund">
  <input type="hidden" name="item_number" value="9871">
  <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" name="submit" alt="PayPal - The safer, easier way to pay online!">
  </form>

  <p>To make it all happen we need to raise $1000 by September 30, and we can’t do
  it without you!</p>
  
  <p>We have raised ${{amount}} so far.</p> 

  <p>Your donations will help pay for the creation of the video, as well as special
  premiere weekend screenings.</p>

</div>
<div id = "thermometer">
  <img src = '/static/funding-thermo.png' alt = '' />
  <div id = 'mercury' style = 'top: {{top}}rem;'></div>
</div>
{% endblock %}
