{% extends "sitex7298.html" %}
{% block title %}Donation and Member Signup Page{% endblock %}
{% block style %}
{% endblock %}
{% block top %}

    <div class = 'frontibox'>
        <img src = "/static/Logo-Blue-20170909-01.png" alt="" />
   </div>
   <div class = 'maintextbanner'>The Friends of Arlington’s Planetarium</div>

   <h1>Thank you for your interest and support. Please use the form on this page
   to purchase a membership and/or make a donation to the Friends of the Planetarium.</h1>
    

{% endblock %}
