{% extends "site.html" %}
{% block body %}
<div id = "mainlinklist" class = "ll">
<p><a href="/event">Events &amp; Shows</a></p>
<p><a href="/join">Join, Donate, Subscribe</a></p>
<p><a href="/post">Main Articles</a></p>
<p><a href="/notice">In the News</a></p>
<p><a href="/science">Science</a></p>
<p><a href="/corner">Directors’ Corner</a></p>
<p><a href="/about">About the Planetarium</a></p>
</div>
<div id = "frontlatest">
   {% for p in latest %}
      <p> <a href = "/{{ p.0 }}/{{ p.1.id }}">{{ p.1.title }}</a></p>
   {% endfor %}
</div>
<div id = "mainarray">
   <img src = "{{ MEDIA_URL }}currentmoon.png" alt="" title = "Current Moon" />
   <img src = "{{ MEDIA_URL }}azgt.png" alt="" title = "Star Chart" />
   <a href="http://cleardarksky.com/c/USNOkey.html?1"><img src = "{{ MEDIA_URL }}csc.png" alt="" title = "Observing Conditions" /></a>
   <img id = "sun" src = "{{ MEDIA_URL }}currentsun.png" alt="" title = "Current Sun" />
</div>


{% endblock %}
