{% extends "sitex7298.html" %}
{% block title %}The Friends of Arlington’s Planetarium{% endblock %}
{% block style %}
{% endblock %}
{% block top %}

    <div class = 'frontibox'>
        <img src = "/static/Logo-Blue-20170909-01.png" alt="" />
   </div>
   <div class = 'maintextbanner'>The Friends of Arlington’s Planetarium</div>
    
    <div class = 'frontbox bigwords'>
         <form class = 'frontpagedonate' action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <a href="/join">Join</a> • 
            <input type="hidden" name="cmd" value="_s-xclick" />
            <input type="hidden" name="hosted_button_id" value="MQKTXL3EDRM74" />
            <button>Donate</button>
            <!--<input type="image" src="/static/paypaldonatebutton.png" name="submit" alt="Donate through PayPal.">-->
         </form>
    </div>
<a class = 'plainlinks' href='http://www.apsva.us/Page/2706'><div id = 'upcoming'  class = 'frontbox'>
         This weekend: APS programming 
        </div></a>


  {% for post in promoted %}
     <a href = "/post/{{ post.id }}">

        <div class = 'frontbox teal medwords'>
            <p class = 'lefttext'>{{post.title}}</p>
             {% if post.illustrations %}
                {% for illustration in post.illustrations.all %}
                   {% if forloop.first %}
                   <div class = "rightpic">
                      <img src="{{ illustration.pic.url }}" alt = "" />
                   </div>
                   {% endif %}
                {% endfor %}
             {% endif %}
        </div>
     </a>
  {% endfor %}


    <div class = 'frontbox medwords'>
        <div class = 'smallcstack'>
            <a  href = '/about'>More about us</a><br />
            <a href = '/event/'>Events &amp; Shows</a>
        </div>
        <div class = 'smallcstack'>
            <a href = '/about#visit'> Ample free parking<br />
            Close to Ballston Metro</a>
        </div> 
   </div> 

    <div class = 'frontbox '>
   <video src = '/static/leonov_spacewalk_mute_smaller.mp4' autoplay loop >Your browser does not support modern video</video>
   <p>On March 18, 1965, Alexey Leonov performed the <a class = 'plainlinks' href = 'https://gizmodo.com/50-years-ago-the-first-spacewalk-nearly-ended-in-trage-1692303108'>first spacewalk</a>.</p>
   </div> 

   <br />



   <div class = 'frontibox '>
       <a href = '/about/'>
       <div class = 'slidewrapper'>
           {% for pic in slides %}
                <div class="slide">
                    <img src = '{{pic.pic.url}}' alt = '' />
                </div>
           {% endfor %}
       </div>
       </a>
   </div>
{% endblock %}
