{% extends "sitex7297.html" %}
{% block title %}The Friends of Arlington’s Planetarium{% endblock %}
{% block style %}
<script>
  (function() {
    var cx = '007968053313794302273:aypyetdofbi';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
{% endblock %}
{% block body %}

<div id = 'frontcontainer'>
<div id = 'leftcontainer'>
    <div class = 'frontibox' style = 'margin-bottom: 0.6rem;padding:3mm;'>
        <img src = "/static/logo_new.png" alt="" />
    
    <div class = 'frontibox'>
       <img src = '/static/s1.gif' />
    </div>
   <div id = "social" class = 'frontbox ' style = ''>
          <p><a href="http://facebook.com/friendsoftheplanetarium"><img src = "/static/fbB.png" alt="" />acebook</a>&nbsp;
          <a href="http://twitter.com/FrnzPlanetarium"><img src = "/static/twitB.png" alt="" />witter</a>&nbsp;
          <a href="http://instagram.com/FrnzPlanetarium"><img src = "/static/instaB.png" alt="" />Instagram</a>
  </p>
   </div>
    <div id = 'sponsors' class = 'frontbox ctxt' style = 'height: 13.2rem;'>
        <p>Thanks<br />to our major donors</p>
      <div id = 'sponsorlogos'>
        <img src = '/static/sponsorlogos.jpg' alt = 'sponsor logos' /> 
      </div>
    </div>
</div>
<div id="upcoming" class = 'frontbox'>
    This weekend: 
      <a href = 'https://friendsoftheplanetarium.org/post/86/'>Citizen Science + Annual Meeting</a>
       (Reservations recommended).
</div>
</div>
<div id = 'rightcontainer'>
  <div class = 'frontibox' style = 'background:url(/static/dome.png);background-repeat: no-repeat;background-size: 100%;'>
      <div class = 'boxoverlay mainlinks'>
         <p><a href="/event"> Events &amp; Shows</a></p>
         <p><a href="/join">Join, Donate, Subscribe</a></p>
         <p><a href="/post">Articles &amp; News</a></p>
         <p><a href="/about">About the Planetarium</a></p>
         <div class="gcse-search"></div>
      </div>
  </div>
  <div class = 'frontbox' style = 'height: 25rem;'>
       <h2>Recent</h2>
       {% for p in latestentries %}
          <p><a href = "/{{ p.0 }}/{{ p.1.id }}">{{ p.1.title }}</a></p>
       {% endfor %}
       {% if not latestentries %}
       <p>XXX</p>
       <p>XXX</p>
       <p>XXX</p>
       <p>XXX</p>
       <p>XXX</p>
       <p>XXX</p>
       {% endif %}
  </div>
  <div class = 'ctxt' style = 'padding:0;'>
      <p>More to Explore</p>
  </div>
        <div class = 'circlebox'> 
           <a href = "http://www.usno.navy.mil/USNO/astronomical-applications/data-services/"><img src = "https://lee-phillips.org/arlplanet/currentmoon.png" alt="Current Moon" title = "Current Moon" /></a>
        </div>
        <div class = 'circlebox'> 
            <a href = "http://umbra.nascom.nasa.gov/images/"><img id = "sun" src = "https://lee-phillips.org/arlplanet/currentsun.png" alt="Current Sun" title = "Current Sun" /></a>
        </div>
        <div class = 'circlebox'> 
        <a href = 'https://www.nasa.gov/feature/annie-easley-computer-scientist'><img src = '/static/easleyC.png' alt = 'Annie Easley' title = 'Annie Easley was born on April 23, 1933.  She was a computer scientist, mathematician, and rocket scientist who worked for NASA and its predecessor, NACA. She became one of the leaders  of the team that developed software for the Centaur rocket stage, providing the foundation for many future space projects. Annie Easley died June 25, 2011.' /></a>
        </div>
        <div class = 'circlebox'> 
            <a href = "/starchart"><img src = "/static/azgt.png" alt="Star Chart" title = "Star Chart" /></a>
        </div>
  </div>
</div>
     <div id = "planetfooter" style='position:absolute; top: 56.5rem;left:0;'>
        <div class = "footerlinks">
           <a href = "/post/7/">About the corporation</a> 
           <a href = "http://www.apsva.us/Page/2706">Arlington Public Schools</a>
           <a href = "/about/">Contact the Friends</a>
           <a href = "/website/">About the website</a>
           <a href = "mailto:lee.phillips@alogus.com">Contact the webmaster</a>
           <a href = "/join/">Keep the Planetarium open</a>
        </div>
     </div>
{% endblock %}
