{% extends "sitex7297.html" %}
{% block title %}The Friends of Arlington’s Planetarium{% endblock %}
{% block style %}
<script>
  (function() {
    var cx = '007968053313794302273:aypyetdofbi';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<style>
  .center {
       float: none;
       margin-left: auto;
       margin-right: auto;
  }
  div.slideshow ul{
    display: none;
    list-style:none; color:#fff
  }
  #wrapper {
    display: block;
  }
  #wrapper {width:20rem; height: 15rem; margin:0px auto; margin-top:10px; margin-bottom:0px;}
  #wrapper * {margin:0; padding:0}
  .fullsize {overflow:hidden; position:relative; width:100%; height:100%; padding:2px; border:1px solid #ccc; background:#000}
  .information {position:absolute; bottom:0; width:100%; height:0; max-height: 60px; background:#000; color:#fff;
      overflow: hidden; z-index:200; opacity:.7; filter:alpha(opacity=70)}
  .information h3 {padding:4px 8px 3px; font-size:18px; color: #ccc;}
  .information p {padding:0 8px 8px; font-size:12px; font-style: oblique;}
  div.fullsize div.image {width:100%}
  div.image img {position:absolute; z-index:25; width:100%}
  .imgnav {position:absolute; width:25%; height:100%; cursor:pointer; z-index:150}
  div.fullsize div.imglink {position:absolute; height:100%; width:100%; z-index:100; opacity:.4; filter:alpha(opacity=40)}
  .linkhover {background:url(/static/link.gif) center center no-repeat}
</style>
{% endblock %}
{% block body %}

<div id = 'frontcontainer'>
  <div id="upcoming" class = 'frontbox cutoff'>
    <p>This weekend: 
    <!--<a href='http://www.apsva.us/Page/2706'> Season of Light.</a>-->
    <!-- (reservations recommended).-->
    <a href='http://www.apsva.us/Page/2706'>Arlington Public Schools programming.</a>
  </p>
  </div>
<div class = 'slidecontainer frontbox' style = 'top:0rem; left:37.5rem;background:hsl(313, 80%, 69%)'>
    <img src = '/static/s0.gif' />
</div>
<div class = 'frontbox btxt cutoff' style = 'padding-top: 1rem; z-index:2;top: 15rem;left:37.5rem;width:21.7rem;height: 14rem;background: hsl(313, 80%, 69%)'>
   {% for p in promoted %}
      <p> <a href = "/post/{{ p.id }}">{{ p.title }}</a></p>
   {% endfor %}
</div>
<div class = 'frontbox ctxt scroll' style = 'z-index:2;top: 25rem;left:37.5rem;width:21.7rem;height: 34rem;background: hsl(120,40%,80%)'>
   <h3>Recent Articles:</h3>
   {% for p in latestentries %}
      <p> <a href = "/{{ p.0 }}/{{ p.1.id }}">{{ p.1.title }}</a></p>
   {% endfor %}
   <p><a href = '/post/'>→ More ←</a></p>
</div>
<div id = "social" class = 'frontbox ctxt' style = 'z-index:2;top: 59.8rem;left:37.5rem;width:21.7rem;height: 5rem;background: hsl(120,40%,30%)'>
  <p><a href="http://facebook.com/friendsoftheplanetarium"><img src = "/static/fb.png" alt="" />acebook</a>&nbsp;
  <a href="http://twitter.com/FrnzPlanetarium"><img src = "/static/twit.png" alt="" />witter</a>&nbsp;
  <a href="http://instagram.com/FrnzPlanetarium"><img src = "/static/insta.png" alt="" />Instagram</a>
  </p>
</div>
<div id = 'searchbox' class = 'frontbox ctxt cutoff' style = 'z-index:2;top: 61.9rem;left:0;width:21.7rem;height: 5rem;background: hsl(222, 58%, 62%)'>
  <div class="gcse-search"></div>
</div>
<div class = "mainbanner">
    <video src = '/static/persipythonedlogo.mp4' loop autoplay no-controls></video>
</div>
<div class = "mainbanner" style = 'background-color: hsla(200,50%,60%,0.4)'><img src = "{{ STATIC_URL }}logo_new.png" alt="" /></div>
<a href="/event"><div class = 'ctxt frontbox cutoff' style = 'top:17rem; left:0; width: 20rem; height: 7.2rem; background: hsl(308, 75.5%, 79.2%);'>
        <p>Upcoming<br />Events &amp; Shows</p>
</div></a>
<div id = 'sponsors' class = 'frontbox ctxt cutoff' style = 'left:0; top:24rem;width: 20rem;height: 13.2rem;background: hsl(0, 71.9%, 74.9%)'>
    <p>Thanks<br />to our major donors</p>
  <div id = 'sponsorlogos'>
    <img src = '/static/sponsorlogos.jpg' alt = 'sponsor logos' /> 
  </div>
</div>
    <a href="/notice"><div class = 'frontibox' style = 'top:38.2rem; left: 0; width:20rem; height:13.333rem; '><img src='/static/dome.png' alt = '' /></div></a>
    <a href="/about/"><div class = 'frontbox ctxt' style = 'top:38.2rem; left: 0; background: hsla(0,0%,90%,.6 );width:20rem; height:11rem; '><p>About the<br />Planetarium</p></div></a>

<div class = 'slidecontainer frontbox' style = 'top:50rem; left:0;background:hsl(120,40%,80%)'>
    <img src = '/static/s1.gif' />
</div>
<div class = "frontbox ctxt" style = 'top:49rem; left: 22.5rem; width: 14.3rem; background: hsl(222, 40%, 80%);' >
{% if not smiled %}
       <p>Support the Planetarium every time you buy from Amazon, at no cost to you: <a href="/smile/"><img alt="Amazon Smile" src="/static/smile.png" /></a></p>
{% else %}
{% endif %}
</div>

<div class = 'frontbox circlebox' style = 'top:17rem; left:20rem; background: hsl(59, 92.2%, 74.9%); '> 
   <a href = "http://www.usno.navy.mil/USNO/astronomical-applications/data-services/"><img src = "http://lee-phillips.org/arlplanet/currentmoon.png" alt="Current Moon" title = "Current Moon" /></a>
</div>
  
<a href="/join"><div class = 'frontbox ctxt' style = 'top: 29rem; left:20rem;height: 8.2rem;width:16.7rem;background: hsl(260, 75.5%, 79.2%)'><p>Join • Donate</p><p>Subscribe</p></div></a>

<div class = 'frontbox circlebox' style = 'top:37.95rem; left:20rem; background: hsl(180, 92.2%, 74.9%); '><a href = "/starchart"><img src = "/static/azgt.png" alt="Star Chart" title = "Star Chart" /></a></div>
  
  <div class = 'maincircle'>
   <a href = 'http://www.nasa.gov/feature/goddard/2016/mars-gravity-map' title = '”A new map of Mars’ gravity made with three NASA spacecraft is the most detailed to date, providing a revealing glimpse into the hidden interior of the Red Planet.”'>
        <img src = '/static/northMarsGravity.png' alt = 'Gravity map of Mars northern hemisphere' />
   </a>
   <p>Mars gravity map</p>
  
  
  
   <a href = 'http://www.nasa.gov/feature/ames/Kepler/caught-for-the-first-time-the-early-flash-of-an-exploding-star' title = '”The brilliant flash of an exploding star’s shockwave—what astronomers call the “shock breakout”—has been captured for the first time in the optical wavelength or visible light by NASA’s planet-hunter, the Kepler space telescope.”'><img src = '/static/starshock_decor.png' alt = '' /></a>
   <p>Exploding star shockwave</p>
  
 
 <div id = 'schedule' class = 'frontbox' style = 'top: 7.7rem; left: 60rem;height: 20rem;width:15.5rem;'>
<iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=400&amp;wkst=2&amp;bgcolor=%23999999&amp;src=u2k0tc9r2o3vt4s495itgnrol4%40group.calendar.google.com&amp;color=%2328754E&amp;ctz=America%2FNew_York" style="border:solid 1px #777"></iframe>
</div>
<div class = 'frontbox circlebox' style = 'left: 58.8rem; top: 24rem;background: hsl(59, 92.2%, 74.9%)'>
    <a href = "http://umbra.nascom.nasa.gov/images/"><img id = "sun" src = "http://lee-phillips.org/arlplanet/currentsun.png" alt="Current Sun" title = "Current Sun" /></a>
</div>

    <div class = 'frontibox' style = 'top:36rem; left: 60rem; width:15rem; height:7.8rem; '>
       <img src = '/static/newsbg.jpg' alt = '' />
    </div>
    <a href="/notice"><div class = 'frontbox ctxt' style = 'padding-top: 3rem;top:36rem; left: 60rem; background: hsla(0,0%,90%,.7 );width:15rem; height:7.82rem; '>Planetarium in<br />the news</div></a>
    
    <a href="http://www.cafepress.com/friendsarlplanetarium/8533104">
        <div class = 'frontbox ctxt' style = 'left: 60rem; top:47rem; width:14.4rem; height: 3.2rem;background: hsl(290, 40%, 85%);'>
        Shop<span id = "shopitem"><img alt = "mugshot" src="/static/mugforsale.png" /></span></div></a>
    <div class = 'frontibox' style = 'top:51rem; left: 60rem; width:15rem; height: 6rem;'>
      <img src = '/static/moviecamera.png' alt = '' />
    </div>
    <a href = '/movies/'><div class = 'frontbox ctxt' style = 'padding-top: 3rem;top:51rem; left: 60rem; width:14.4rem; height: 11.8rem;background: hsla(311, 80%, 68%, .85)'><p>Videos in<br />and about<br />the Planetarium</p></div></a>
    
     <div id = "planetfooter" style='position:absolute; top: 100rem;left:0;'>
        <div class = "footerlinks">
           <a href = "/post/7/">About the corporation</a> 
           <a href = "http://www.apsva.us/Page/2706">Arlington Public Schools</a>
           <a href = "/about/">Contact the Friends</a>
           <a href = "/website/">About the website</a>
           <a href = "mailto:lee.phillips@alogus.com">Contact the webmaster</a>
           <a href = "/join/">Keep the Planetarium open</a>
        </div>
     </div>
</div> 
{% endblock %}
