<!DOCTYPE HTML><html><head><meta content="text/html;charset=utf-8" http-equiv="Content-Type" /><meta content="width=device-width, initial-scale=1.0" name="viewport" /><link href="{{ STATIC_URL }}planetstyle.css" media="all" rel="stylesheet" type="text/css" /><link href="{{ STATIC_URL }}favicon_v4.png" rel="shortcut icon" type="image/png" /><link href="//fonts.googleapis.com/css?family=Alegreya:normal,italic,bold%7CAlegreya+SC:normal,italic,bold%7CBaumans" rel = "stylesheet" media = "all" type = "text/css" />

<link rel="image_src" href="{{ STATIC_URL }}hfbs.png" />
<title>{% block title %}{% endblock %}</title></head>
<body>
   <div class = "mainbanner"><a href="/"><img src = "{{ STATIC_URL }}logo_new.png" alt="" /></a></div>
   <div class = "maintextbanner">Friends of Arlington’s Planetarium</div>
   {% block body %}
   {% endblock %}
   <div id = "planetfooter">
      <div class = "footerlinks">
         <a href = "/post/7/">About the corporation</a> 
         <a href = "http://www.apsva.us/Page/2706">Arlington Public Schools</a>
         <a href = "/about/">Contact the Friends</a>
         <a href = "/website/">About the website</a>
         <a href = "mailto:lee.phillips@alogus.com">Contact the webmaster</a>
         <a href = "/join/">Keep the Planetarium open</a>
      </div>
   </div>
</body>
</html>
