<!DOCTYPE HTML><html><head><meta content="text/html;charset=utf-8" http-equiv="Content-Type" /><meta content="width=device-width, initial-scale=1.0" name="viewport" /><link href="{{ MEDIA_URL }}planetstyle.css" media="all" rel="stylesheet" type="text/css" /><link href="{{ MEDIA_URL }}favicon.png" rel="shortcut icon" type="image/ico" /><link href="http://fonts.googleapis.com/css?family=Baumans" rel = "stylesheet" media = "all" type = "text/css" /><title>title</title></head>
<body>
   <div class = "mainbanner"><a href="/"><img src = "{{ MEDIA_URL }}head.png" alt="" /></a></div>
   {% block body %}
   {% endblock %}
</body>
</html>
