<!DOCTYPE HTML><html><head><meta content="text/html;charset=utf-8" http-equiv="Content-Type" /><meta content="width=device-width, initial-scale=1.0" name="viewport" /><link href="{{ STATIC_URL }}favicon_v4.png" rel="shortcut icon" type="image/png" /><link href="//fonts.googleapis.com/css?family=Alegreya:normal,italic,bold%7CAlegreya+SC:normal,italic,bold%7CBaumans" rel = "stylesheet" media = "all" type = "text/css" />
<title>Publish Weekend</title>
<link rel = 'stylesheet' href = "{{ STATIC_URL }}/adminstyle.css" />
</head>
<body>
  <h1>Publish Weekend</h1>
  <p class = 'warn'>
     When you click the “Publish” button below, the weekend writeup and all its
     associated event pages will be immediately made live on the FOTP website
     unless the “delay” choice is selected. Also, Eventbrite pages will be
     created for each event that is part of this weekend. This is immediate and
     will proceed without further warning.  These actions can not be undone
     from here.  </p>
  <p class = 'warn'>
     Since (at the moment) there is no way to remotely make live Eventbrite events that use Paypal,
     you need to visit the Eventbrite website to publish the events. Until you do, the Purchase or
     Register option on our website will be disabled. While in the Eventbrite site, you must also
     enter the Paypal address for each event (planetarium.donations@gmail.com). 
  </p>
  <h2>{{mainpost.title}}</h2>
  <h3>Events to be made live</h3>
     {% for e in events %}
       <p>{{e}}</p>
     {% endfor %}
     <form action = '/ticketing/{{mainpost.id}}/' method = 'POST'>
       {% csrf_token %}
       <p>Check the box below if you want to publish the Eventbrite pages but <b>not</b>
          make the FOTP website pages live yet. This is used, for example, if we
          want to allow members to reserve in advance of the public.</p>
       <p>Delay website publishing: <input type = 'checkbox' name = 'delay' value = 'yes' /></p>
       <button type = 'submit'>Publish</button>
     </form>
  {% if evresponse %}
     <h2>Response from Eventbrite server</h2>
         <p>{{evresponse.event}}</p>
         {% for tr in evresponse.tickets %}
           <p>{{tr}}</p>
         {% endfor %}
  {% endif %} 
</body>
</html>
