<!DOCTYPE HTML><html><head><meta content="text/html;charset=utf-8" http-equiv="Content-Type" /><meta content="width=device-width, initial-scale=1.0" name="viewport" /><link href="{{ STATIC_URL }}favicon_v4.png" rel="shortcut icon" type="image/png" /><link href="//fonts.googleapis.com/css?family=Alegreya:normal,italic,bold%7CAlegreya+SC:normal,italic,bold%7CBaumans" rel = "stylesheet" media = "all" type = "text/css" />
<title>Publish Weekend</title>
<link rel = 'stylesheet' href = "{{ STATIC_URL }}/adminstyle.css" />
</head>
<h1>Weekend Selector</h1>
<body>
  <h2>Under Repair</h2>
  <p>Due to the switch to Ticketleap, the Weekend Publisher, which communicated with Eventbrite,
  no longer works. For now, you need to generate the ticketing widgets on Ticketleap and paste
  them into our event pages.</p>
</body>
</html>
