<!DOCTYPE HTML><html><head><meta content="text/html;charset=utf-8" http-equiv="Content-Type" /><meta content="width=device-width, initial-scale=1.0" name="viewport" /><link href="{{ STATIC_URL }}favicon_v4.png" rel="shortcut icon" type="image/png" /><link href="//fonts.googleapis.com/css?family=Alegreya:normal,italic,bold%7CAlegreya+SC:normal,italic,bold%7CBaumans" rel = "stylesheet" media = "all" type = "text/css" />
<title>Publish Weekend</title>
<link rel = 'stylesheet' href = "{{ STATIC_URL }}/adminstyle.css" />
</head>
<h1>Weekend Selector</h1>
<body>
  <h2>Weekends with events in the future</h2>
  <p>Click on the name of the weekend to make it live.</p>
     {% for w in wlst %}
     <h3><a href = '/ticketing/{{w.0.id}}/'>{{w.0.title}}</a></h3>
       {% for e in w.1 %}
         <p>{{e}}</p>
         <p>{{e.tt}}</p>
       {% endfor %}
     {% endfor %}
     {{t}}
     {{tt}}
</body>
</html>
