{% extends "sitex7298.html" %}
{% block style %}
    <script>
      (function() {
        var cx = '007968053313794302273:aypyetdofbi';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
{% endblock %}
{% block top %}
<a class = 'plainlinks' href = '/'><div class = 'maintextbanner'>The Friends of Arlington’s Planetarium</div></a>
    <div class = 'halfbox nophone'>
        <a href = '/'>
                <img src = "/static/Logo-Blue-20170909-01.png" alt="" />
        </a>
    </div>    
    <div class = 'halfbox medwordsnp domebox'>
      <div class = 'linkoverlay'>
         <form class = 'frontpagedonate' action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <a href="/join">Join</a>
            <input type="hidden" name="cmd" value="_s-xclick" />
            <input type="hidden" name="hosted_button_id" value="MQKTXL3EDRM74" />
            <br />
            <button>Donate</button><br />
            <a href = '/about#visit'>Visit</a>
         </form>
     </div>
    </div>
    <div class = 'thinright'><a href = '/post/'>Articles &amp; News</a></div>
    <div class="gcse-search"><div id = 'searchloading'>Search box loading....</div></div>
{% endblock %}
{% block abovecontent %}
    <div class = 'title-article'>{% block title %}{% endblock %}</div>
{% endblock %}
{% block content %}
{% endblock %}
{% block bottom %}
<div id = "social" class = 'll'>
<p><a href="http://facebook.com/friendsoftheplanetarium"><img src = "/static/fbB.png" alt="" />acebook</a>&nbsp;&nbsp;
<a href="http://twitter.com/FrnzPlanetarium"><img src = "/static/twitB.png" alt="" />witter</a>&nbsp;&nbsp;
<a href="http://instagram.com/FrnzPlanetarium"><img src = "/static/instaB.png" alt="" />Instagram</a></p>
</div>
<br />
<div class = 'frontbox'>
    <a href = "http://www.usno.navy.mil/USNO/astronomical-applications/data-services/"><img class = 'circle' src = "https://lee-phillips.org/arlplanet/currentmoon.png" alt="Current Moon" title = "Current Moon." /></a>
    <a href = 'https://www.cbsnews.com/news/solar-eclipse-damage-to-womans-eye-revealed-in-striking-images/'><img class = 'circle' src = '/static/retinalDamageC.png' alt = 'Image of retinal damage in patient who used counterfeit eye protection when viewing a solar eclipse.' title = 'Image of retinal damage in patient who used counterfeit eye protection when viewing a solar eclipse.'/ ></a>
    <!--<a href = "/starchart"><img class = 'circle' src = "/static/azgt.png" alt="Star Chart" title = "Star Chart" /></a>-->
    <!--<a href = 'https://www.arlnow.com/2017/01/31/david-m-brown-planetarium-stars-in-winning-vehicle-decal-contest-entry/'-->
    <!--</a>-->
    <a href="http://cleardarksky.com/c/USNOkey.html?1"><img class = 'circle' src = "/static/csc.png" alt="Observing Conditions" title = "Observing Conditions" /></a>
    <a href = "http://umbra.nascom.nasa.gov/images/"><img class = 'circle' id = "sun" src = "https://lee-phillips.org/arlplanet/currentsun.png" alt="Current Sun" title = "Current Sun" /></a>
</div>
{% endblock %}
