{% extends "sitex7298.html" %}
{% block style %}
    <script>
      (function() {
        var cx = '007968053313794302273:aypyetdofbi';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
{% endblock %}
{% block top %}
<a class = 'plainlinks' href = '/'><div class = 'maintextbanner'>The Friends of Arlington’s Planetarium</div></a>
    <div class = 'halfbox nophone'>
        <a href = '/'>
                <img src = "/static/Logo-Blue-20170909-01.png" alt="" />
        </a>
    </div>    
    <div class = 'halfbox medwordsnp domebox'>
      <div class = 'linkoverlay'>
         <form class = 'frontpagedonate' action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <a href="/join">Join</a>
            <input type="hidden" name="cmd" value="_s-xclick" />
            <input type="hidden" name="hosted_button_id" value="MQKTXL3EDRM74" />
            <br />
            <button>Donate</button><br />
            <a href = '/about#visit'>Visit</a>
         </form>
     </div>
    </div>
    <div class = 'thinright'><a href = '/post/'>Articles &amp; News</a></div>
    <div class="gcse-search"><div id = 'searchloading'>Search box loading....</div></div>
{% endblock %}
{% block abovecontent %}
    <div class = 'title-article'>{% block title %}{% endblock %}</div>
{% endblock %}
{% block content %}
{% endblock %}
{% block bottom %}
<div id = "social" class = 'll'>
<p><a href="http://facebook.com/friendsoftheplanetarium"><img src = "/static/fbB.png" alt="" />acebook</a>&nbsp;&nbsp;
<a href="http://twitter.com/FrnzPlanetarium"><img src = "/static/twitB.png" alt="" />witter</a>&nbsp;&nbsp;
<a href="http://instagram.com/FrnzPlanetarium"><img src = "/static/instaB.png" alt="" />Instagram</a></p>
</div>
<br />
<div class = 'frontbox'>
    <a href = "http://www.usno.navy.mil/USNO/astronomical-applications/data-services/"><img class = 'circle' src = "https://lee-phillips.org/arlplanet/currentmoon.png" alt="Current Moon" title = "Current Moon" /></a>
    <a href = 'https://starchild.gsfc.nasa.gov/docs/StarChild/whos_who_level2/tereshkova.html'>
        <img class = 'circle' src = '/static/tereshkovaCC.png' alt = 'Valentina Tereshkova in her space suit.'
        title = 'Valentina Tereshkova, the first woman in space, was born on March 6, 1937' />
        </a>
    <!--<a href = "/starchart"><img class = 'circle' src = "/static/azgt.png" alt="Star Chart" title = "Star Chart" /></a>-->
    <!--<a href="http://cleardarksky.com/c/USNOkey.html?1"><img class = 'circle' src = "/static/csc.png" alt="Observing Conditions" title = "Observing Conditions" /></a>-->
    <a href = 'https://asd.gsfc.nasa.gov/blueshift/index.php/2015/11/16/doing-astronomy-with-our-eyes-closed/'>
      <img class = 'circle' src = '/static/gwmodelC.png' alt = 'Gravity wave calculation' title = 'Albert Einstein was born on March 14, 1879.  This image is part of the computed solution of Einstein’s gravitational equations for the gravitational waves resulting from a merging black hole binary.'
      />
    </a>
    <a href = 'https://starchild.gsfc.nasa.gov/docs/StarChild/whos_who_level2/herschel.html'>
       <img class = 'circle' src = '/static/herschelBirthday.png'
                                                                                                         title = 'Caroline Herschel discovered three nebulae and eight comets. Two of her astronomical catalogues are still used today. On her ninety sixth birthday, she was awarded the King of Prussia’s Gold Medal of Science for her lifetime achievements. She was born on March 16, 1750.' />
    </a>
</div>
{% endblock %}
