{% extends "apdirposts/special.html" %}
{% block title %}The Board, Advisory Council, and Corporation{% endblock %}
{% block content %}
<h1>The Corporation</h1>

<p>The Friends of Arlington's Planetarium was incorporated by the Commonwealth of Virginia, State Corporation Commission, on May 10, 2010. Here are our <a href="http://friendsoftheplanetarium.org/media/articles_of_incorporation.pdf">Articles of Incorporation</a> and current <a href="http://friendsoftheplanetarium.org/s/FOP_Bylaws_2013-01-05.pdf">Bylaws</a>.
On June 2, 2010, the IRS assigned the following Employer Identification Number to the Friends: <em>27-2760025</em>.</p><p>The Friends submitted an application to the IRS for Recognition of Exemption under section 501(c)(3) of the Internal Revenue Code, Form 1023, on July 21, 2010. The IRS recognized the Friends as a tax exempt public charity on August 18, 2010. Here is the <a href="http://friendsoftheplanetarium.org/s/IRS_tax_exemption_letter.pdf">letter of determination</a>.</p>

<h2>Board of Directors</h2>

<p>Members of the Board of Directors have the honor and responsibility of overseeing and representing the interests of all the Friends of Planetarium consistent with our mission of supporting the renovation and continued use of Arlington’s Planetarium in (a) providing curriculum-based instruction and educational services to students in the Arlington Public Schools, to students in private and parochial schools in Arlington, and to students in neighboring jurisdictions; (b) providing a range of science-related programs of interest to the general public; and (c) promoting and increasing awareness and utilization of the facility.</p>

<h3>More stuff about us</h3>

<p>
    blah blah bloop
</p>
{% endblock %}
