{% extends "apdirposts/page.html" %}
{% block title %}Upload Your 2017 Eclipse Image{% endblock %}
{% block pagecontent %}
   <div class = "postcontent" id = "target">

       {% if thanks %}

       <h2>Thank you for sharing your eclipse image.</h2>

       <p>Upload another one
       if you like. Stay tuned to this website for news about the Arlington
       Planetarium and our eclipse image show plans.</p>

       {% endif %}

       <h1>Upload Your 2017 Eclipse Image</h1>

       <p>
    Do you have pictures of your August, 2017 eclipse experience that you want
    to share? We’re putting together a slide show of eclipse related pictures
    to display in the Planetarium. Send us your best images for the show!
    Feel free to include notes about the images and your
    experience that we can share with our audience. Visit this page more than once to upload
          as many images as you like.
       </p>


              

     <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <p><i><small>We suggest uploading images at least 800 × 600 px in size.</small></i></p>
        <button type="submit">Upload</button>
     </form>

     <p class = 'warn'>
       By pressing the “Upload” button, I grant the Friends of the Planetarium 
       nonexclusive rights to show and display the uploaded image within the Arlington
       Planetarium at any dates and times of their choosing. I understand that the image
       may be cropped or otherwise modified for purposes of display. I affirm that I
       own the copyright to the uploaded image, either because I am its author or because
       I have legally acquired the copyright, or that I have been delegated the authority to grant this
       license by the copyright holder.
     </p>

   </div>
{% endblock %}
