{% extends "apdirposts/page.html" %}
{% block title %}{{ title }}{% endblock %}
{% block pagecontent %}
<div class = "postcontent">
   <h2>{{ title }}</h2> 
   <p class = 'eventdate'>{{ on }}</p>
   {{ content|safe }}
{% if rpost %}
<div class = 'rpost'>For more information, see <a href = "/post/{{ rpost.id }}">{{ rpost.title }}</a></div>
{% endif %}
<p><b>Doors open:</b> {{ doors|date:"f a" }} <b>Show begins:</b> {{ on|date:"f a" }}</p>
</div>
{% if ebcode %}
<div class = 'ebrite'>
<iframe  src="http://www.eventbrite.com/tickets-external?eid={{ ebcode }}&ref=etckt&v=2" frameborder="0" height="520"  vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
</div>
{% endif %}
{% endblock %}
