{% extends "apdirposts/special.html" %}
{% block title %}About the Friends of the Planetarium{% endblock %}
{% block content %}
   
Arlington
   Public Schools website</a> for more details.
</p><p>
APS show times are: Fridays and Saturdays at 7:30PM and Sunday matinees at
1:30 and 3:00PM. The 3:00PM show on Sunday is usually a children's show. 
</p><p>
Additionally, <i>Stars Tonight</i>, a live sky show under the dome, highlighting
the celestial sights of the coming month, is offered the first Monday of
each school month at 7:30 PM (moved to second Monday during holidays).</p> 
<p>
For these regularly scheduled weekend shows, simply come to the Planetarium 15-20 minutes before the start of the show.  Seating is first come, first served, and no advance reservations are necessary.  There is an admission charge of $5 for ages from 13 to 59, $3 otherwise, cash only. Sky theater has a 58 seat capacity; once this is reached, the doors will be closed.
</p>
<h2>Planetarium Calendar</h2>
<p>Here is a Google calendar containing all shows and events at the Arlington Planetarium,
including regularly scheduled APS events as well as Friends weekends.
If you use Google Calendars, you can <a href = 'https://www.google.com/calendar/embed?src=u2k0tc9r2o3vt4s495itgnrol4%40group.calendar.google.com&ctz=America/New_York'>subscribe</a>
to this calendar. Or, you can <a href = '/static/ArlingtonPlanetarium.ics'>download the ICS file</a>
for importation into almost any calendaring system.</p>
<iframe src="https://www.google.com/calendar/embed?src=u2k0tc9r2o3vt4s495itgnrol4%40group.calendar.google.com&ctz=America/New_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
   </div>
{% endblock %}
