{% extends "apdirposts/page.html" %}
{% block pagecontent %}
   <div class = "postcontent">
       <h2>Become a Friend of the Arlington Planetarium</h2>
       <p>Past membership donations have saved the Planetarium from extinction.  Be a supporter of Arlington’s grassroots, community-supported source of all things science.  Become a member today and help your planetarium shine!</p>
       <h3>Members Receive:</h3>
       <ul>
<li>Friends of the Planetarium e-newsletter (approximately monthly)
<li>Reduced admission fees and advance notification of Friends-sponsored events including new planetarium shows, schedules, and science programs
<li>Invitation to members-only events
<li>Voting rights at the annual meeting
<li>Friends of the Planetarium is a 501(c)(3) non-profit organization, so all membership dues are 100% tax deductible  
      </ul>
      <div class = "joinform">
      <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="SFH9ABR43RWEA">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="on0" value="Membership Options">
<p>Membership Options:</p>
<select name="os0">
	<option value="Individual">Individual $15.00</option>
        <option value="Student">Student $10.00</option>
	<option value="Family">Family $25.00</option>
	<option value="Sponsor">Sponsor $50.00</option>
</select> 
<input type="hidden" name="currency_code" value="USD">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
</form> 
</div>
<h3>Types of Membership:</h3>
<ul>
<li>Student ($10/year): good for one student
<li>Individual ($15/year): good for one person
<li>Family ($25/year): covers all household family members
<li>Sponsor ($50/year): a higher level of tax-deductible donation as well as individual or family membership
</ul>
   </div>
{% endblock %}
