{% extends "apdirposts/page.html" %}
{% block pagecontent %}
   <div class = "postcontent">
       <h2>Become a Friend of the Arlington Planetarium</h2>
       <p>Past membership donations have saved the Planetarium from extinction.  Be a supporter of Arlington’s grassroots, community-supported source of all things science.  Become a member today and help your planetarium shine!</p>
       <h3>Members Receive:</h3>
       <ul>
<li>Friends of the Planetarium e-newsletter (approximately monthly)
<li>Reduced admission fees and advance notification of Friends-sponsored events including new planetarium shows, schedules, and science programs
<li>Invitation to members-only events
<li>Voting rights at the annual meeting
<li>Friends of the Planetarium is a 501(c)(3) non-profit organization, so all membership dues are 100% tax deductible  
      </ul>
      <div class = "joinform">
      <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="SFH9ABR43RWEA">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="on0" value="Membership Options">
<p>Membership Options:</p>
<select name="os0">
	<option value="Individual">Individual $15.00</option>
        <option value="Student">Student $10.00</option>
	<option value="Family">Family $25.00</option>
	<option value="Sponsor">Sponsor $50.00</option>
</select> 
<input type="hidden" name="currency_code" value="USD">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
</form> 
</div>
<h3>How to Become a Friend of the Planetarium:</h3>
<p>
<b>Online</b>: Select the category of membership from the drop-down menu at the left and click <b>Add to Cart</b>. You can pay online with your credit card via PayPal.<br />
<b>Check</b>: Send a check to the Friends of the Planetarium, P.O. Box 7029, Arlington, VA 22207. Please include a copy of the completed <a href = "{{ MEDIA_URL }}FOP-Application-for-Membership.pdf">membership application form</a>. 
<h3>Types of Membership:</h3>
<ul>
<li>Student ($10/year): good for one student
<li>Individual ($15/year): good for one person
<li>Family ($25/year): covers all household family members
<li>Sponsor ($50/year): a higher level of tax-deductible donation as well as individual or family membership
</ul>
<h3>How Are Dues Used?</h3>
<p>
All membership dues allow the purchase of new digital programming for community shows, sponsor planetarium training sessions for Arlington Public School (APS) teachers, assist with upgrades to the Planetarium facility, and support the David M. Brown scholarship for APS students.
</p>
<h3>How Long Does Membership Last?</h3>
<p>
The membership year has been set to coincide with the academic school year calendar.  Our membership drive kicks off in September of each year, and the membership period runs from September 1 to September 30 of the following year. 
</p><p>
Memberships can begin at any time during the year, and expire on the next September 30th.  Since summer months can be a bit uneventful, if you become a member between June 30 and September 30, your membership will be extended through the next membership year.  
</p>
   </div>
{% endblock %}
{% block ulate %}
<form class = "donateform" action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="MQKTXL3EDRM74">
<input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<p>We're raising funds to purchase new digital, full-dome programs; training for teachers; and a scholarship for students. Please help us <a href = "/donate">reach our goal!</a></p>
</form>
{% endblock %}
