{% extends "apdirposts/page.html" %}
{% block pagecontent %}
   <div class = "postcontent" id = "target">
      <h2>Movies</h2>
      <p>Watch videos by and about the Friends of Arlington's Planetarium.</p>
<h3>Weather vs Climate: What’s the Difference?</h3>
<p>
   Meteorologists extraordinaire Bob Ryan and Jason Samenow talk about weather,
   climate, climate change, and weather trends in the Washington, DC area and
   around the world. Recorded February 16, 2014 at the 
   Planetarium as part of the Sunday Science lecture series.
</p>
   <iframe src="//player.vimeo.com/video/88723526" width="500" height="281"
   frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>This
   should be a iframe containing a movie.</iframe> 
   <p class="caption">Recording and post production by <a href="/bio/24">Kathi Overton</a>.</p>
<h3>A Planet For Goldilocks: Kepler's Search for Potentially Habitable Worlds</h3>
<p>Dr. Natalie Batalha, a NASA research astronomer and Kepler Mission Scientist talks about the Kepler mission and the search for exoplanets. This presentation is designed for the general public, and is perfect for inquiring minds of all ages. 
Recorded on January 4th, 2014, at our Planetarium.
</p>
<iframe src="//player.vimeo.com/video/84496959" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>This should be a iframe containing a movie.</iframe> 
   <p class="caption">Recording and post production by <a href="/bio/24">Kathi Overton</a>.</p>
<h3>Re-opening Weekend Timelapse</h3><p>A timelapse shot showing some of the activity outside the <strong>David M. Brown
 planetarium</strong> during its grand re-opening weekend.  Recorded Sunday, 
September 30, 2012.</p>
<iframe src="//player.vimeo.com/video/55818653" width="500" height="281" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<h3>Planetarium Re-opening Highlights</h3><p>A few highlights from the ribbon cutting ceremony marking the re-opening
 of <strong>Arlington's David M Brown planetarium</strong>.  The event was held on 
 Friday, September 28, 2012.</p>
<iframe src="//player.vimeo.com/video/56853814" width="500" height="281" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
 <h3>Planetarium Re-opening Ceremony</h3><p>This is a recording of the complete ceremony marking the official 
re-opening of <strong>Arlington's David M. Brown planetarium</strong>. The ceremony was 
held on Friday, September 28th, 2012.</p>
<iframe src="//player.vimeo.com/video/56663956?autoplay=0&amp;api=1" width="400" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<h3>Sunday Science Lecture - Cosmic Collisions<br></h3><p>Astronomer and GMU Assistant Professor Jessica Rosenberg presents a talk
 on what happens when galaxies collide.  This lecture is part of the 
Sunday Science series, educational talks presented by the Friends of 
Arlington's David M. Brown planetarium.<br>
Recorded March 18, 2012.</p>
<iframe src="//player.vimeo.com/video/60021160?autoplay=0&amp;api=1" width="400" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<h3><em>The City Dark</em> Screening - Introductory Remarks</h3><p>Introductory remarks before a screening of the documentary <strong><em>The City Dark</em></strong>.&nbsp; The documentary addresses the issue of light pollution in our urban and suburban skies.&nbsp; Recorded February 25, 2012 at the George Mason Law School Founder's Hall in Arlington, VA.<br></p>
<iframe src="//player.vimeo.com/video/55818881?autoplay=0&amp;api=1" width="400" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<h3><em>The City Dark</em> - Panel Discussion<br></h3><p>A panel discussion following a screening of the documentary film <strong><em>The City Dark</em></strong>.&nbsp; The film addresses the issue of light pollution in our urban and suburban skies.&nbsp; Recorded on February 25, 2012 at Founder's Hall, in the George Mason Law School Arlington, VA. </p>
<iframe src="//player.vimeo.com/video/57300468" width="500" height="281" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<h3>Sunday Science Lecture - Where Does Space Exploration Go From Here?</h3><p>Heather Goss talks about the future of space exploration now that the 
space shuttle fleet has been retired.  Part of the Sunday Science 
lecture series from the Friends of Arlington's Planetarium.  Recorded 
Sunday, July 17, 2011.</p>
<iframe src="//player.vimeo.com/video/55825174?autoplay=0&amp;api=1" width="400" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<h3>"A Hubble Story" - John Grunsfeld</h3><p>In June of 2011, Dr. John M. 
Grunsfeld gave a lecture about his experience as an astronaut on the 
space shuttle mission to repair and upgrade the Hubble space telescope. 
 The lecture was part of a fundraising event to benefit the David M. 
Brown planetarium.
Recorded June 15, 2011.</p>
<iframe src="//player.vimeo.com/video/57299842" width="500" height="375" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<h3>Sunday Science - Intro to Exoplanets</h3><p>Raphael Perrino provides a brief introduction to the subject of exoplanets.  Recorded in April, 2011.</p>
<iframe src="//player.vimeo.com/video/57204920?autoplay=0&amp;api=1" width="400" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<h3>Saving Arlington's Planetarium</h3><p>This short video was made early in 2011, during the campaign to keep the Arlington planetarium open.&nbsp; It provides some historical information about the planetarium, describes how the Friends of the Planetarium got started, and why the organization thinks the planetarium is worth saving.</p>
<iframe src="//player.vimeo.com/video/55826734?autoplay=0&amp;api=1" width="400" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<h3>Remembering the Crew of the Space Shuttle Columbia</h3><p>A short memorial video, remembering <strong>David M. Brown</strong> and the rest of the 
astronauts from space shuttle Columbia.  This video was created in the 
week following the February 1, 2003 loss of the space shuttle, using 
NASA photos and video from mission STS-107 preparation, the mission 
itself, and its aftermath.  
The video was originally shown as part of an episode of the cable 
television series <em>Fast Forward: Contemporary Science Fiction</em> in 2003.<br></p>
<iframe src="//player.vimeo.com/video/58710458" width="500" height="367" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
   </div>
{% endblock %}
