{% extends "site.html" %}
{% block body %}
   <div id = "dots" class = "ll">
      <img src = "{{ MEDIA_URL }}dots.png" alt = " " />
   </div>
   <div id = "mainlinklist" class = "ll">
   <p class = "{{ eventone }}"><a href="/event">Events &amp; Shows</a></p>
   <p class = "{{ joinone }}"><a href="/join">Join, Donate, Subscribe</a></p>
   <p class = "{{ mainarticleone }}"><a href="/post">Articles and Things</a></p>
   <p class = "{{ inthenewsone }}"><a href="/notice">In the News</a></p>
   <p class = "{{ aboutone }}"><a href="/about">About the Planetarium</a></p>
   <div id = "shoplinkdiv"><a href="http://www.cafepress.com/friendsarlplanetarium/8533104"><div id = "shoplink"><p>Shop</p></div><div id = "shopitem"><img alt = "mugshot" width = "80" src="{{ MEDIA_URL }}mugforsale.png" /></div></a></div>
      <div id = "pagelatest">
         {% if latest %}
            <h2>Other Recent Items:</h2>
         {% endif %}
         {% for p in latest %}
            <p> <a href = "/{{ p.0 }}/{{ p.1.id }}#target">{{ p.1.title }}</a></p>
         {% endfor %}
      </div>
      <div id = "ulate">
         {% block ulate %}
         {% endblock %}
      </div>
   </div>
{% block pagecontent %}
{% endblock %}
{% endblock %}
