<!DOCTYPE HTML><html><head><meta content="text/html;charset=utf-8" http-equiv="Content-Type" /><meta content="width=device-width, initial-scale=1.0" name="viewport" /><link href="{{ STATIC_URL }}planets.css" media="all" rel="stylesheet" type="text/css" /><link href="{{ STATIC_URL }}favicon_v4.png" rel="shortcut icon" type="image/png" /><link href="//fonts.googleapis.com/css?family=Alegreya:normal,italic,bold%7CAlegreya+SC:normal,italic,bold%7CBaumans" rel = "stylesheet" media = "all" type = "text/css" />
<title>June 2016 Advance Announcement</title>
</head>

<div id = 'wrapper'>
<div id = 'stuff' >


<h1 id="june-weekend-advance-announcement">June Weekend Advance Announcement</h1>
<p>Our final Friends’ Weekend of the <a href="http://friendsoftheplanetarium.org/post/58/">season</a> will be about <strong>planets</strong>.</p>
<p>We are going to have live presentations by two renowned researchers and science communicators, exciting full-dome movies, and a hands-on educational activity for children. It’s all happening in just two weeks: June 17 – 19. Check back here on June  10<sup>th</sup> to make reservations and purchase tickets. Or, <a href="http://friendsoftheplanetarium.org/join/">become a member</a> of Friends of the Planetarium to get a secret advance email and the chance to buy tickets before the general public: as early as June 5<sup>th</sup>.</p>
Here are some of the events to look forward to:
<div class="leftstick">
Friday
</div>
<div class="centerbanner">
<p><img alt = 'logo: Dynamic Earth' src = 'http://friendsoftheplanetarium.org/media/illustrations/dynamicearth5.jpg' 
   /></p>
</div>
<div class="leftstick">
6:30 p.m.
</div>
<em>Dynamic Earth</em> explores the inner workings of Earth’s great life support system: the global climate. With visualizations based on satellite monitoring data and advanced supercomputer simulations, this cutting-edge production follows a trail of energy that flows from the Sun into the interlocking systems that shape our climate: the atmosphere, oceans, and the biosphere. Audiences will ride along on swirling ocean and wind currents, dive into the heart of a monster hurricane, come face-to-face with sharks and gigantic whales, and fly into roiling volcanoes.
<p>
 
</p>
<div class="centerbanner">
<iframe src="https://player.vimeo.com/video/35915432" width="350" frameborder="0">
</iframe>
</div>
<h2 id="michael-neufeld-lecture-how-we-got-to-pluto">Michael Neufeld Lecture: “How We Got To Pluto”</h2>
<div class="leftstick">
7:30 p.m.
</div>
<div class="tinyleftpic">
<img src = 'http://friendsoftheplanetarium.org/media/illustrations/michaelNeufeld.jpg' alt = 'Michael Neufeld' />
</div>
<p>Dr. <a href="https://airandspace.si.edu/staff/michael-neufeld">Michael J. Neufeld</a> is a Senior Curator at the Smithsonian Air &amp; Space Museum in the Division of Space History. He’s going to talk about the difficult birth of NASA’s mission to Pluto, New Horizons. A version of his interesting presentation about the institutional politics and battles over funding for space exploration appeared as the cover story for the April, 2016 <em>Physics Today</em>.</p>
<h2 id="full-dome-movie-exploding-universe">Full Dome Movie: <em>Exploding Universe</em></h2>
<div class="leftstick">
Saturday
</div>
<div class="leftstick">
6:30 p.m.
</div>
From supernovas to volcanoes, this film looks at the beautiful and creative power of explosive phenomena to shape planets, stars, and the entire universe.
<p>
 
</p>
<div class="centerbanner">
<iframe width="350" height="480" src="https://www.youtube.com/embed/3810PV0qFk4" frameborder="0">
</iframe>
</div>
<h2 id="heidi-hammel-lecture-exploring-the-solar-system-with-the-hubble-space-telescope">Heidi Hammel Lecture: “Exploring the Solar System with the Hubble Space Telescope”</h2>
<div class="leftstick">
7:30 p.m.
</div>
<p>Astronomer Heidi Hammel is a self-professed Hubble Hugger and long-time Hubble user. She has been profiled by the New York Times and Newsweek Magazine, and was identified as one of the 50 most important women in science by Discover Magazine in 2002.</p>
<p>Dr. Hammel, a long-time user of Hubble for planetary studies, will give us a broad overview of the many observations Hubble has made: colliding comets; active aurorae; Martian storms; moons of distant Pluto; dynamic Neptune; and much more.</p>
<div class="centerbanner">
<p><img src = 'http://friendsoftheplanetarium.org/static/Hubble_solar_system600.jpg' alt = 'Hubble images' /></p>
</div>
<h2 id="perfect-little-planet"><em>Perfect Little Planet</em></h2>
<div class="leftstick">
Sunday
</div>
<div class="leftstick">
1:30 p.m.
</div>
<div class="tinyleftpic">
<p><img src = "/media/illustrations/perfectLittlePlanet.jpg" alt = "" /></p>
</div>
<p>Fly over the surface of Pluto, dive down the ice cliffs of Miranda, sail through the rings of Saturn, feel the lightning storms at Jupiter and walk on the surface of Mars.</p>
<p>This full dome movie is suitable for all ages, and a favorite of younger children.</p>
<h2 id="measure-the-solar-system">Measure the Solar System</h2>
<p>Between the two Sunday afternoon films, we’ll offer a hands-on activity for children that will teach them about the sizes of the planets and the distances between objects in the Solar System.</p>
<h2 id="magic-tree-house-space-mission"><em>Magic Tree House: Space Mission</em></h2>
<div class="leftstick">
3:00 p.m.
</div>
<div class="tinyrightpic">
<p><img src = "/media/illustrations/Magic_treehouse_poster.jpg" alt = "" /></p>
</div>
<p>Travel with the brother-sister duo Jack and Annie in their Magic Tree House® as they proceed to answer the questions left for them in a mysterious note signed “-M.” The show begins with narration by Mary Pope Osborne, author of the best-selling Magic Tree House® children’s book series. Viewers will find themselves perched high in the trees as Jack and Annie discover the note that asks them to answer a series of six questions about space. Magic Tree House® Space Mission is best suited for ages 5 to 12 and their families. Older children familiar with the book series may also enjoy the show.</p>
<h2>
<a href = 'http://friendsoftheplanetarium.org'>→ Main Friends of the Planetarium Page ←</a>
</h2>
</html>
