{% extends "apdirposts/special.html" %}
{% block title %}Articles and News{% endblock %}
{% block content %}
   
<div class = "scrollleft">
    <h2>Past Articles</h2>
      {% for post in p %}
         <a href = "/post/{{ post.id }}">
        <p class = 'lefttext'>{{ post.title }}</a>
        <br />
         {% if post.byline %}
         <span class="byline">by&nbsp;{{ post.byline }}</span>
         {% endif %}<span class = 'byline'> ({{post.pub_date}})</span></p>
         {% if post.illustrations %}
            {% for illustration in post.illustrations.all %}
               {% if forloop.first %}
               <div class = "listimage">
                  <img src="{{ illustration.pic.url }}" alt = "" />
               </div>
               {% endif %}
           {% endfor %}
         {% endif %}
         
         <div class="floatbuster">&nbsp;</div>
      {% endfor %}
   </div>
<div class = 'scrollleft'>
    <h2>Astronomy News</h2>
      {% ssi '/home/lee/www/arlplanet/astronews.html' %}
</div>
   <p><a href="/starchart/">Star chart for Arlington</a></p>
{% endblock %}
