{% extends "apdirposts/page.html" %}
{% block title %}{{ title }}{% endblock %}
{% block pagecontent %}
<div class = "postcontent" id = "target">
   {% if author.director.bio|length > 2 %}
   <h2>{{ title }}</h2> 
      {% if byline %} 
         <div class = "byline">by <a href="/bio/{{ author.id }}">{{ byline }}</a></div>
      {% endif %}
   {% else %}
      <h2>{{ title }}</h2> 
      {% if byline %} 
         <div class = "byline">by {{ byline }}</div>
      {% endif %}
   {% endif %}
{% if illustrations %}
   {% for illustration in illustrations %}
      {% if forloop.first %}
         {% if illustration.pic.width  > 300 %}
            <img class = "postillustration" src = "{{ illustration.pic.url }}" alt = "" />
         {% else %}
            <img class = "postfloatleftillustration" src = "{{ illustration.pic.url }}" alt = "" />
         {% endif %}
         {{ content|safe }}
      {% else %}
         <img class = "postillustration" src = "{{ illustration.pic.url }}" alt = "" />
      {% endif %}
   {% endfor %}
{% else %}
   {{ content|safe }}
{% endif %}
{% if events %}
   <h3>Shows</h3>
<div class = "plannav">
   {% regroup events by on|date:'D' as days %}
   {% for day in days %}
   <div class = "tr">
      <div class = "daycell">{{ day.grouper }}<br />{{ day.list.0.on|date:'jM' }}</div>
    {% for show in day.list %}
    <div class = "timecell"><a href="/event/{{ show.id }}">{{ show.on|date:'f A' }}<br />{{ show.title }}</a></div>
    {% endfor %}
   </div>
   {% endfor %}
</div>
<p>&nbsp;</p>
{% endif %}
</div>
{% endblock %}
