{% extends "apdirposts/page.html" %}
{% block title %}Science Articles{% endblock %}
{% block pagecontent %}
   <div class = "postcontent" id = "target">
   <div class = "articlelist">
      <h2>Science Articles:</h2>
      {% for post in p %}
         <a href = "/post/{{ post.id }}" class = "lnl">
         {% if post.illustrations %}
            {% for illustration in post.illustrations.all %}
               {% if forloop.first %}
               <div class = "listimage">
                  <img src="{{ illustration.pic.url }}" />
               </div>
               {% endif %}
            {% endfor %}
         {% endif %}
         <p>{{ post.title }}</a> 
         <span class="byline">by {{ post.byline }}</span></p>
         <div class="floatbuster">&nbsp;</div>
      {% endfor %}
   </div>
   <p><a href="/starchart/">Star chart for Arlington</a></p>
   <div class = "astronews">
      {% ssi /home/lee/www/arlplanet/astronews.html %}
   </div>
</div>
{% endblock %}
