{% extends "apdirposts/page.html" %}
{% block title %}Science Articles{% endblock %}
{% block pagecontent %}
   <div class = "postcontent" id = "target">
   {% for post in p %}
   <h2><a href = "/post/{{ post.id }}" class = "lnl">{{ post.title }}</a></h2> by {{ post.byline }}
   {% endfor %}
   </div>
   <iframe style="margin-left:7px;background-color: rgba(233, 211, 215, 0.76); display:inline-block; vertical-align:top;" width="450" height="725" src="http://lee-phillips.org/arlplanet/astronews.html"></iframe>
{% endblock %}
