<!DOCTYPE HTML><html><head><meta content="text/html;charset=utf-8" http-equiv="Content-Type" /><meta content="width=device-width, initial-scale=1.0" name="viewport" /><link href="{{ STATIC_URL }}planetstyle.css" media="all" rel="stylesheet" type="text/css" /><link href="{{ STATIC_URL }}favicon_v4.png" rel="shortcut icon" type="image/png" /><link href="//fonts.googleapis.com/css?family=Alegreya:normal,italic,bold%7CAlegreya+SC:normal,italic,bold%7CBaumans" rel = "stylesheet" media = "all" type = "text/css" />

<link rel="image_src" href="{{ STATIC_URL }}hfbs.png" />
<title>2016 Science Fiction Festival</title>
<style>
@-webkit-keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position:  100% 0; }
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
        }
body{  color: #99f;
  background-color: #222; 
	background-image: url({{STATIC_URL}}head.png);
	background-position: 0px 50px;
	background-repeat: no-repeat;
	animation: animatedBackground 40s linear infinite;
	-webkit-animation: animatedBackground 10s linear infinite;
}
</style>
</head>
<body >
   <div class = "mainbanner"><a href="/"><img src = "{{ STATIC_URL }}head.png" alt="" /></a></div>
   <div style = "font-size: 4em;  position: absolute; left:45%; top: 23pt;">
   2016 Science Fiction Festival
   </div>
   <div class = "maintextbanner">Friends of Arlington’s Planetarium</div>
   <div style = "position: relative; margin-top:26%; left: 5em; width: 30em; font-size: 1.5em; line-height: 1.7em;">
   
The General Theory of Relativity did not spring into being with a single,
astonishing paper, as did the Special Theory of Relativity in 1905.
Its birth was more chaotic, involving a handful of lectures and manuscripts,
and more than one parent. But this harrowing labor finally resulted in the
delivery of a Theory perfectly formed and trembling with potential, if
not yet fully mature. The painful and joyous process occupied most of 
November, 2015, making this its 100^th^ birthday — an anniversary being
celebrated by scientific organizations around the world.

<pic src = 'Albert_Einstein_photo_1920.jpg' alt = 'Albert Einstein'>
  <caption>Albert Einstein in 1919, after the eclipse voyages that
    verified General Relativity. <i>Public domain.</i></caption>
</pic>

The General Theory is our modern theory of gravity. Its fundamental equations
have been unchanged since 1915, although we have learned a great deal more about
their consequences in the past 100 years. This model of gravity, space, and time
is regarded by many who know it well as perhaps the 
<cite refid="ClassicalTheoryOfFieldsByLL.xml">“most beautiful of all existing physical theories.”</cite> 

Perhaps the best approach to the General Theory of Relativity is by
way of Isaac Newton and his theory of gravity. 
Newton’s gravity (in concert with his laws of motion) accurately predicted the motions of the heavenly
bodies for over 200 years. It was the first great unification in physics, 
connecting our terrestrial experience with falling apples directly to the force that
binds the solar system together. Newton’s work is the beginning of modern
science. The best way to begin to understand relativity is to try
to understand what Einstein found unacceptable in Newton’s model of the universe.

Newton explained that gravity is a force between any two
objects, proportional to the product of their masses, and inversely
proportional to the square of the distance between them: a simple
algebraic formula. This force was an instantaneous action at a distance,
with no medium nor mechanism behind it.
   </div>
   <div id = "planetfooter">
      <div class = "footerlinks">
         <a href = "/post/7/">About the corporation</a> 
         <a href = "http://www.apsva.us/Page/2706">Arlington Public Schools</a>
         <a href = "/about/">Contact the Friends</a>
         <a href = "/website/">About the website</a>
         <a href = "mailto:lee.phillips@alogus.com">Contact the webmaster</a>
         <a href = "/join/">Keep the Planetarium open</a>
      </div>
   </div>
</body>
</html>
