<!DOCTYPE HTML><html><head><meta content="text/html;charset=utf-8" http-equiv="Content-Type" /><link href="{{ STATIC_URL }}planetstyle.css" media="all" rel="stylesheet" type="text/css" /><link href="{{ STATIC_URL }}favicon_v4.png" rel="shortcut icon" type="image/png" /><link href="//fonts.googleapis.com/css?family=Alegreya:normal,italic,bold%7CAlegreya+SC:normal,italic,bold%7CBaumans" rel = "stylesheet" media = "all" type = "text/css" />

<link rel="image_src" href="{{ STATIC_URL }}hfbs.png" />
<title>2016 Science Fiction Festival</title>
<style>
@-webkit-keyframes animatedBackground {
	from { background-position: 0 0px; }
	to { background-position: 0 3000px; }
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 0 3000px; }
        }
body{  
  font-family: "Telegrama", serif;
  color: #7f9;
  background-size: 900px, 3000px;
  background-color: #000; 
  background-image: url({{STATIC_URL}}sfbg.jpg);
  background-position: 0px 50px;
  background-repeat: repeat;
  animation: animatedBackground 40s linear infinite;
  -webkit-animation: animatedBackground 40s linear infinite;
}
</style>
</head>
<body>
   <div style = "font-size: 3.5em;  position: absolute; left:0%; top: 11pt; width: 100%;">
    <img style = 'width: 100%;' src = "{{ STATIC_URL }}sf2016top.png" alt="" />
   </div>
   <div class = "maintextbanner">Friends of Arlington’s Planetarium</div>
   <div style = "position: relative; margin-top:26%; left: 5em; width: 30em; font-size: 1.5em; line-height: 1.7em;">
   
   <p>
     The second annual Science Fiction Festival will come to the Arlington Planetarium
     March 18–20. Go <a href='http://friendsoftheplanetarium.org/post/70/'>here </a> to find out more and to make reservations,
     which are highly recommended for this popular event.
   </p>
   <p>
     Here are a few notes on what we are planning for the weekend:
   </p>
   <p>
     On Friday evening we are showing a science fiction mini film festival,
     including the Arlington premiere of two short full-dome films by artist Diana Reichenbach
     and other short subjects.
   </p>
   <p>

     <div class = "postfloatleftillustration" style = 'width: 155px;'>
                                <img src = "/static/deanAsDrSinister.jpg" alt = "" />
                                <p class = "caption">Doktor Sinister.</p></div>
     Come back on Saturday for a reprise of last year’s highly successful Science Fiction Trivia Quiz Night.
     Don’t forget to study to win silly prizes!
     The quiz will again be administered by our resident mad scientist, Doktor Sinister. 
     Science fiction themed costumes are highly encouraged, but not required.
   </p>
   <p>
     On Sunday afternoon come see a panel discussion on “Predicting the Future: How Well Does Speculative Fiction Anticipate Future Technology?” Science fiction experts will ponder the questions: How accurate will the predictions of today's science fiction turn out to be? How has it fared in the past?
   </p>
   <p>
     Our second show on Sunday will be the Arlington premiere of the European Southern Observatory’s new full dome film, “From Earth to the Universe.” In 30 minutes this film will treat the history of astronomy and the capabilities of today’s most advanced telescopes.
   </p>
   <p>
     Between Sunday’s presentations there will be an opportunity for some hands-on mathematics: make your own hexaflexagon!
   </p>
   <p>
     At last year’s Science Fiction Festival, we were surprised by several visitors from other galaxies.
     We don’t know exactly what’s in store for us this year, but it’s bound to be strange and memorable.
   </p>
   <p>
     To receive advance notice of Friends of the Planetarium events and to help support the Planetarium
     and make it possible for us to keep putting together our special weekends, please consider
     <a href = '/join/'>joining</a>.
   </p>

   </div>
   <div id = "planetfooter">
      <div class = "footerlinks">
         <a href = "/post/7/">About the corporation</a> 
         <a href = "http://www.apsva.us/Page/2706">Arlington Public Schools</a>
         <a href = "/about/">Contact the Friends</a>
         <a href = "/website/">About the website</a>
         <a href = "mailto:lee.phillips@alogus.com">Contact the webmaster</a>
         <a href = "/join/">Keep the Planetarium open</a>
      </div>
   </div>
</body>
</html>
