{% extends "apdirposts/page.html" %}
{% block title %}About This Website{% endblock %}
{% block pagecontent %}
   <div class = "postcontent" id = "target">

      <p>This is the place to find out about Planetarium shows and
      special events and to buy tickets. Many of our shows
      become sold out, so reserve your spot early!</p>

   <p>
      These and other important announcements are listed under “Events
      &amp; Shows” or “Main Articles.” Other content is listed under
      “Science,” where you can find articles about astronomy and related
      subjects, and an astronomy newsfeed, updated approximately daily,
      and
      “Directors’ Corner,” a place for special articles
      by members of our <a href="/post/7/">board</a>. Please visit the
      “Join, Donate, Subscribe” link to support the Planetarium and
      help keep us operating.
   </p>
   <p>
      All of the articles that were at our previous website will
      eventually be availble here, but, regrettably, not all at the same
      URLs. So, if you are looking for an older article, please try
      again in the near future, when we have restored the historical
      content and implemented a search feature.
   </p>
   <p>
      The design and programming of the website was done by board
      member Lee Phillips and the <a href="alogus.com">Alogus Research
      Corporation</a>, which also donates web hosting. It is based
      partly on work done for the previous site by Tom Wanat and other
      members of the <a href="/post/7/">board</a>.
   </p>


   </div>
{% endblock %}
