{% extends "apdirposts/page.html" %}
{% block title %}About This Website{% endblock %}
{% block pagecontent %}
   <div class = "postcontent" id = "target">
      <h1>About This Website</h1>
      <p>This is the place to find out about Planetarium shows and
      special events and to buy tickets. Many of our shows
      become sold out, so reserve your spot early!</p>

   <p>
      These and other important announcements are listed under “Events
      &amp; Shows” or “Main Articles.” Other content is listed under
      “Science,” where you can find articles about astronomy and related
      subjects, as well as an astronomy newsfeed, updated approximately daily,
      and
      “Directors’ Corner,” a place for special articles
      by members of our <a href="/post/7/">board</a>. Please visit the
      “Join, Donate, Subscribe” link to support the Planetarium and
      help keep us operating.
   </p>
   <p>
      All of the articles that were at our previous website will
      eventually be available here, but, regrettably, not all at the same
      URLs. So, if you are looking for an older article, please try
      again in the near future, when we have restored the historical
      content and implemented a search feature.
   </p>
   <p>
      The design and programming of the website was done by board
      member Lee Phillips and the <a href="http://alogus.com">Alogus Research
      Corporation</a>, which also donates web hosting. It is based
      partly on work done for the previous site by Tom Wanat and other
      members of the <a href="/post/7/">board</a>.
   </p>
   <p>
      The entire toolchain used to create and deliver this site consists
      of open source software. To mention just a key few of these tools,
      development is on a Ubuntu Linux laptop using <a
         href="www.vim.org/">Vim</a>, <a
         href="www.gimp.org/">Gimp</a>,
      <a href="www.imagemagick.org/">Imagemagick</a>, <a
         href="http://git-scm.com/">Git</a>, <a
         href="http://rsync.samba.org/">Rsync</a>, <a
         href="http://python.org/">Python</a>, <a
         href="clojure.org">Clojure</a>, and the <a
         href="http://www.gnu.org/">Gnu</a> userland;
      deployment is on <a href="http://www.debian.org/">Debian</a> Linux
      with <a href="http://httpd.apache.org/">Apache</a>,
      <a href="http://www.postgresql.org/">PostgreSQL</a>,
      and <a
         href="https://www.djangoproject.com/">Django</a>.
   </p>
   <p>
      The design of this website and all its constituent parts, as well
      as all content not otherwise credited, are © The
      Friends of Arlington’s Planetarium, Inc. Individual articles and
      other content,
      where authorship is identified, are © the individual author.
   </p>


   </div>
{% endblock %}
